/*importing scss files*/
@font-face {
  font-family: Bebas-Neue;
  src: url("../fonts/BebasNeuewebfont.ttf");
}
@font-face {
  font-family: helvetica-bold;
  src: url("../fonts/Helvetica-Bold.ttf");
}
@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica.ttf");
}
@font-face {
  font-family: helvetica;
  src: url("../fonts/helvetica.woff");
}
@font-face {
  font-family: myriad-pro;
  src: url("../fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: myriad-pro-semibold;
  src: url("../fonts/MyriadPro-Semibold.ttf");
}
@font-face {
  font-family: myriad-pro-semibold;
  src: url("../fonts/MyriadPro-Semibold.woff");
}
@font-face {
  font-family: rockwell;
  src: url("../fonts/rockwell.ttf");
}
@font-face {
  font-family: rockwell;
  src: url("../fonts/rockwell.woff");
}
/* line 37, ../sass/custom/_global.scss */
body {
  background: #ccc;
}

/* line 40, ../sass/custom/_global.scss */
a {
  font-family: myriad-pro;
}

/* line 43, ../sass/custom/_global.scss */
p {
  font-family: myriad-pro;
}

/* line 46, ../sass/custom/_global.scss */
h2 {
  font-family: myriad-pro;
}

/* line 49, ../sass/custom/_global.scss */
.main-container {
  background: #fff none repeat scroll 0 0;
  margin: 0 auto;
  max-width: 1025px;
  padding: 71px 0 0;
  width: 100%;
}

/* line 1, ../sass/custom/_header.scss */
.navbar {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 -4px 11px #000;
  margin: 0 auto !important;
  max-width: 100% !important;
  padding: 0;
  position: fixed;
  width: 100% !important;
  z-index: 1000;
  height: 71.4px;
}
/* line 11, ../sass/custom/_header.scss */
.navbar .container {
  position: relative;
  width: 100% !important;
  margin: 0 auto !important;
  max-width: 1025px !important;
}
/* line 16, ../sass/custom/_header.scss */
.navbar .container .navbar-collapse.collapse {
  position: absolute;
  top: 46px;
  right: 10px;
}
/* line 21, ../sass/custom/_header.scss */
.navbar .container .navbar-header {
  width: 100% !important;
}
/* line 23, ../sass/custom/_header.scss */
.navbar .container .navbar-header .logo {
  margin: 0;
  padding: 0 0 0 95px;
}
/* line 27, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links {
  float: right;
}
/* line 29, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links #block-search-form {
  float: left;
}
/* line 32, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links #block-search-form {
  display: none;
}
/* line 34, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links #block-search-form .input-group-btn {
  display: none !important;
}
/* line 38, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links #block-search-form .input-group .form-control {
  height: 25px;
  border-radius: 12px !important;
  -moz-box-shadow: 0px 0 10px #43bfef;
  -webkit-box-shadow: 0px 0 10px #43bfef;
  box-shadow: 0px 0 10px #43bfef;
  border: 1px solid #43bfef;
  color: #43bfef;
  font-size: 12px;
  font-family: myriad-pro;
  margin-top: 3px;
}
/* line 50, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links #block-search-form .input-group ::-webkit-input-placeholder {
  color: #43bfef;
}
/* line 53, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links #block-search-form .input-group :-moz-placeholder {
  color: #43bfef;
}
/* line 56, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links #block-search-form .input-group ::-moz-placeholder {
  color: #43bfef;
}
/* line 59, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links #block-search-form .input-group :-ms-input-placeholder {
  color: #43bfef;
}
/* line 64, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links .search-logo {
  position: relative;
  z-index: 20;
}
/* line 68, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links .header-social-links {
  float: left;
  margin-top: 8px;
  padding-right: 8px;
}
/* line 72, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links .header-social-links .search-logo {
  cursor: pointer;
}
/* line 75, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links .header-social-links img {
  height: 25px !important;
  width: 25px !important;
  margin-right: 6px;
}
/* line 82, ../sass/custom/_header.scss */
.navbar .container .navbar-header .social-links .header-social-links p a:last-of-type img {
  margin-right: 0;
}
/* line 90, ../sass/custom/_header.scss */
.navbar .container .navbar-collapse {
  padding: 0;
}
/* line 94, ../sass/custom/_header.scss */
.navbar .container .custom-navigation li {
  border-right: 1px solid #6a6a6a;
  display: inline-block;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-family: myriad-pro;
}
/* line 102, ../sass/custom/_header.scss */
.navbar .container .custom-navigation li:last-child {
  padding-right: 0 !important;
  border: none;
}
/* line 106, ../sass/custom/_header.scss */
.navbar .container .custom-navigation li a {
  color: #6a6a6a;
  text-decoration: none;
}
/* line 109, ../sass/custom/_header.scss */
.navbar .container .custom-navigation li a:hover {
  color: #43bfef;
}

/* line 119, ../sass/custom/_header.scss */
#home-block-block-2:before,
#home-block-block-3:before,
#home-block-block-4:before,
#home-block-block-5:before,
#home-block-block-8:before {
  display: block;
  content: " ";
  margin-top: -73px;
  height: 73px;
  visibility: hidden;
}

/* line 2, ../sass/custom/_footer.scss */
.footer {
  margin: 0 auto;
  padding: 0;
  max-width: 1025px;
  width: 100%;
  background: #333232;
  min-height: 250px;
}
/* line 10, ../sass/custom/_footer.scss */
.footer a:hover {
  background: transparent !important;
}
/* line 14, ../sass/custom/_footer.scss */
.footer .region-footer {
  padding: 0 0 0 58px;
}
/* line 17, ../sass/custom/_footer.scss */
.footer .block-title {
  color: #fff;
  font-size: 15px;
  margin-top: 38px;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 24, ../sass/custom/_footer.scss */
.footer .menu {
  margin-bottom: 10px;
  margin-top: 13px;
}
/* line 27, ../sass/custom/_footer.scss */
.footer .menu li {
  margin-bottom: 5px;
}
/* line 29, ../sass/custom/_footer.scss */
.footer .menu li a {
  color: #71716C;
  font-family: myriad-pro;
  font-size: 15px;
  padding: 0 !important;
  font-weight: bold;
}
/* line 39, ../sass/custom/_footer.scss */
.footer .facebook-block {
  float: left;
  width: 40%;
  margin-bottom: 20px;
}
/* line 43, ../sass/custom/_footer.scss */
.footer .facebook-block .facebook-wrapper {
  float: left;
  width: 54%;
}
/* line 48, ../sass/custom/_footer.scss */
.footer .facebook-block .facebook-wrapper .footer-logo img {
  height: 65px !important;
  width: 72px !important;
}
/* line 53, ../sass/custom/_footer.scss */
.footer .facebook-block .facebook-wrapper ul {
  padding: 0;
  margin-top: 7px;
}
/* line 56, ../sass/custom/_footer.scss */
.footer .facebook-block .facebook-wrapper ul li {
  padding-bottom: 5px;
  list-style: none;
  font-family: myriad-pro;
}
/* line 60, ../sass/custom/_footer.scss */
.footer .facebook-block .facebook-wrapper ul li a {
  color: #71716C;
  font-weight: bold;
  font-family: myriad-pro;
  font-size: 15px;
}
/* line 67, ../sass/custom/_footer.scss */
.footer .facebook-block .facebook-wrapper ul li:nth-of-type(1) img {
  height: 15px !important;
  width: 12px !important;
  margin-right: 7px;
}
/* line 74, ../sass/custom/_footer.scss */
.footer .facebook-block .facebook-wrapper ul li:nth-of-type(2) img {
  height: 15px !important;
  width: 10px !important;
  margin-right: 8px;
}
/* line 81, ../sass/custom/_footer.scss */
.footer .facebook-block .facebook-wrapper ul li:nth-of-type(3) img {
  height: 13px !important;
  width: 13px !important;
  margin-right: 6px;
}
/* line 91, ../sass/custom/_footer.scss */
.footer .connect-wrapper {
  float: left;
  width: 46%;
}
/* line 95, ../sass/custom/_footer.scss */
.footer .connect-wrapper h2 {
  color: #fff;
  font-size: 15px;
  padding-top: 18px;
  font-family: myriad-pro;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 103, ../sass/custom/_footer.scss */
.footer .connect-wrapper ul {
  padding: 0;
  list-style: none;
  color: #fff;
  margin-top: 13px;
}
/* line 108, ../sass/custom/_footer.scss */
.footer .connect-wrapper ul li {
  font-size: 14px;
  margin-bottom: 5px;
  font-family: myriad-pro;
  color: #71716C;
  font-weight: bold;
}
/* line 117, ../sass/custom/_footer.scss */
.footer #block-menu-menu-footer-about-us {
  float: left;
  width: 20%;
}
/* line 122, ../sass/custom/_footer.scss */
.footer #block-menu-menu-footer-resources {
  float: left;
  width: 21.5%;
}
/* line 127, ../sass/custom/_footer.scss */
.footer #block-menu-menu-footer-get-involved {
  float: left;
  width: 18%;
}

/* line 134, ../sass/custom/_footer.scss */
.copyright {
  clear: both;
  border-top: 1px solid  #71716C;
  width: 90.3%;
  padding-top: 8px;
}
/* line 140, ../sass/custom/_footer.scss */
.copyright p:nth-of-type(1) {
  color: #43bfef;
  width: 62%;
  font-family: myriad-pro;
  font-size: 13px;
  text-transform: uppercase;
  float: left;
}
/* line 148, ../sass/custom/_footer.scss */
.copyright p:nth-of-type(2) {
  color: #fff;
  width: 36%;
  font-family: myriad-pro;
  font-size: 10px;
  float: right;
}

/*css for homepage-slider*/
/* line 3, ../sass/custom/_project.scss */
.slide-wrapper {
  position: relative;
}
/* line 5, ../sass/custom/_project.scss */
.slide-wrapper .slide-image {
  width: 100%;
}
/* line 7, ../sass/custom/_project.scss */
.slide-wrapper .slide-image img {
  width: 100%;
}
/* line 11, ../sass/custom/_project.scss */
.slide-wrapper .slide-title {
  position: absolute;
  bottom: 40%;
  color: #fff;
  font-size: 40px;
  font-family: myriad-pro;
  left: 5.4%;
  font-style: italic;
}
/* line 19, ../sass/custom/_project.scss */
.slide-wrapper .slide-title a {
  text-decoration: none;
  color: #fff;
}

/*css ends for homepage-slider*/
/*css for ticker-section*/
/* line 28, ../sass/custom/_project.scss */
#block-views-ticker-block {
  display: inline-block;
  width: 100%;
  border: 2px solid #22305b;
  height: 28px;
}
/* line 33, ../sass/custom/_project.scss */
#block-views-ticker-block h2 {
  width: 20.8%;
  word-spacing: 1.2px;
  font-size: 16px;
  background-color: #22305b;
  margin: 0;
  color: #fff;
  padding: 4.3px 0px 4.5px 33px;
  font-family: myriad-pro;
  float: left;
}
/* line 44, ../sass/custom/_project.scss */
#block-views-ticker-block .liScroll-container {
  width: 79.2%;
}
/* line 46, ../sass/custom/_project.scss */
#block-views-ticker-block .liScroll-container .mask {
  width: 100%;
  top: 5px;
  position: relative;
}
/* line 50, ../sass/custom/_project.scss */
#block-views-ticker-block .liScroll-container .mask .views-liScroll-item {
  border-left: 1px solid #31343e;
  padding-left: 8px;
  padding-right: 8px;
}
/* line 54, ../sass/custom/_project.scss */
#block-views-ticker-block .liScroll-container .mask .views-liScroll-item a {
  color: #31343e;
  font-family: myraid-pro;
  font-size: 12px;
  margin: 0;
  text-decoration: none;
}
/* line 61, ../sass/custom/_project.scss */
#block-views-ticker-block .liScroll-container .mask .views-liScroll-item:last-of-type {
  border-right: 1px solid #31343e;
}
/* line 66, ../sass/custom/_project.scss */
#block-views-ticker-block .liScroll-container .mask ul.liScroll span {
  margin: 0;
}

/*css ends for ticker-section*/
/*css for water-block*/
/* line 76, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water {
  display: inline-block;
  width: 100%;
  padding: 36px 0 41px;
}
/* line 80, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water .view-homepage-content {
  width: 55%;
  text-align: center;
  margin: 0 auto;
}
/* line 84, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water .view-homepage-content .views-field-title {
  font-size: 23px;
  color: #43BFEF;
  font-family: helvetica;
  font-weight: bold;
}
/* line 90, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water .view-homepage-content .views-field-body {
  font-size: 16px;
  color: #6a6a6a;
  font-family: myraid-pro;
  margin-top: -5px;
}
/* line 97, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water #block-views-infographics-block {
  width: 100%;
  display: inline-block;
  padding-top: 21px;
}
/* line 101, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water #block-views-infographics-block .view-infographics {
  width: 80%;
  margin: 0 auto;
}
/* line 104, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water #block-views-infographics-block .view-infographics ul {
  list-style: none;
}
/* line 106, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water #block-views-infographics-block .view-infographics ul li {
  float: left;
  width: 22%;
  background-image: url("../images/water.jpg");
  height: 130px;
  background-repeat: no-repeat;
  margin-right: 3%;
}
/* line 113, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water #block-views-infographics-block .view-infographics ul li:last-child {
  margin-right: 0;
}
/* line 116, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water #block-views-infographics-block .view-infographics ul li .content {
  text-align: center;
}
/* line 120, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water #block-views-infographics-block .view-infographics ul li .content .field-items .field-item:nth-child(1) {
  font-size: 50px;
  font-family: bebas-neue;
  color: #45C0F0;
  margin-top: 6px;
}
/* line 126, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water #block-views-infographics-block .view-infographics ul li .content .field-items .field-item:nth-child(2) {
  font-size: 25px;
  font-family: bebas-neue;
  color: #45C0F0;
  margin-top: -17px;
}
/* line 132, ../sass/custom/_project.scss */
#block-blockqueue-homepage-its-all-about-water #block-views-infographics-block .view-infographics ul li .content .field-items .field-item:nth-child(3) {
  font-size: 12px;
  font-family: myriad-pro-semibold;
  color: #6a6a6a;
  width: 75px;
  margin: -7px auto;
  line-height: 12px;
}

/*css ends for water-block*/
/*css for impact-block*/
/* line 152, ../sass/custom/_project.scss */
.blockqueue-homepage-impact {
  display: inline-block;
  width: 100%;
}
/* line 157, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .homepage-image img {
  width: 100%;
}
/* line 161, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper {
  padding: 11px 40px 0px;
  display: inline-block;
  width: 100%;
}
/* line 165, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper .homepage-block-title {
  font-size: 36px;
  font-family: myriad-pro;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  width: 24.2%;
  margin-top: -8px;
  color: #43BFEF;
}
/* line 174, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper .homepage-block-title a {
  color: #43BFEF;
  text-decoration: none;
}
/* line 179, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper .homepage-body {
  font-size: 16px;
  font-family: myraid-pro;
  color: #6a6a6a;
  width: 60%;
  float: left;
}
/* line 185, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper .homepage-body p {
  padding: 0 15px;
}
/* line 188, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper .homepage-body a {
  color: #43BFEF;
  text-decoration: none;
}
/* line 193, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper .more-links {
  width: 8%;
  float: left;
  margin-left: 4%;
}
/* line 197, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper .more-links ul {
  list-style: none;
  padding: 0;
}
/* line 200, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper .more-links ul li {
  border-bottom: 2px solid #43BFEF;
  padding-top: 2px;
}
/* line 203, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper .more-links ul li a {
  text-decoration: none;
  color: #1C1C1B;
  font-size: 13px;
  text-transform: uppercase;
  font-family: helvetica;
}
/* line 210, ../sass/custom/_project.scss */
.blockqueue-homepage-impact .homepage-impact-wrapper .impact-content-wrapper .more-links ul li:last-child {
  border-bottom: none;
}
/* line 218, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 {
  display: inline-block;
  width: 100%;
  margin-top: -19px;
}
/* line 222, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 h2 {
  font-size: 19px;
  font-family: helvetica;
  color: #7b7c7c;
  font-weight: bold;
  margin-top: 0;
  width: 30%;
  padding: 0 40px 0;
  position: relative;
}
/* line 231, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 h2:before {
  content: "";
  position: absolute;
  background-color: #aaacaf;
  height: 16px;
  width: 90px;
  top: 42px;
}
/* line 240, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 .view-infographics {
  width: 80%;
  margin: 0 auto;
}
/* line 243, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 .view-infographics ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 100%;
  margin-left: 49px;
  margin-top: -9px;
}
/* line 250, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 .view-infographics ul li {
  float: left;
  width: 22%;
  margin-right: 3%;
}
/* line 254, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 .view-infographics ul li:last-child {
  margin-right: 0;
}
/* line 261, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 .view-infographics .field-items .field-item:nth-child(1) {
  font-size: 14px;
  font-family: myriad-pro;
  color: #6a6a6a;
}
/* line 266, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 .view-infographics .field-items .field-item:nth-child(2) {
  font-size: 31px;
  font-family: bebas-neue;
  color: #43BFEF;
  float: left;
  margin-top: -6px;
  margin-right: 7px;
}
/* line 274, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 .view-infographics .field-items .field-item:nth-child(3) {
  font-size: 21px;
  font-family: bebas-neue;
  color: #43BFEF;
  float: left;
  margin-top: 4px;
  margin-right: 3px;
}
/* line 282, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-1 .view-infographics .field-items .field-item:nth-child(4) {
  font-size: 10px;
  font-family: rockwell;
  color: #43BFEF;
  float: left;
  margin-top: 14.5px;
}
/* line 293, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-2 {
  width: 100%;
  display: inline-block;
  margin-top: -25px;
  padding-bottom: 34px;
}
/* line 298, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-2 .view-infographics {
  width: 80%;
  margin: 0 auto;
}
/* line 301, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-2 .view-infographics ul {
  list-style: none;
}
/* line 303, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-2 .view-infographics ul li {
  float: left;
  width: 22%;
  background-image: url("../images/water.jpg");
  height: 130px;
  background-repeat: no-repeat;
  margin-right: 3%;
}
/* line 310, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-2 .view-infographics ul li:last-child {
  margin-right: 0;
}
/* line 313, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-2 .view-infographics ul li .content {
  text-align: center;
}
/* line 317, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-2 .view-infographics ul li .content .field-items .field-item:nth-child(1) {
  font-size: 50px;
  font-family: bebas-neue;
  color: #45C0F0;
  margin-top: 6px;
}
/* line 323, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-2 .view-infographics ul li .content .field-items .field-item:nth-child(2) {
  font-size: 25px;
  font-family: bebas-neue;
  color: #45C0F0;
  margin-top: -17px;
}
/* line 329, ../sass/custom/_project.scss */
.blockqueue-homepage-impact #block-views-infographics-block-2 .view-infographics ul li .content .field-items .field-item:nth-child(3) {
  font-size: 12px;
  font-family: myriad-pro-semibold;
  color: #6a6a6a;
  width: 75px;
  margin: -7px auto;
  line-height: 12px;
}

/*css ends for impact-block*/
/*css for approach-block   /*css for water-block*/
/* line 348, ../sass/custom/_project.scss */
.blockqueue-homepage-approach, .blockqueue-homepage-water {
  display: inline-block;
  width: 100%;
}
/* line 353, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .homepage-image img, .blockqueue-homepage-water .homepage-impact-wrapper .homepage-image img {
  width: 100%;
}
/* line 357, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper {
  padding: 11px 40px 0px;
  display: inline-block;
  width: 100%;
}
/* line 361, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper .homepage-block-title, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper .homepage-block-title {
  font-size: 36px;
  font-family: myriad-pro;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  width: 24.2%;
  margin-top: -8px;
  color: #43BFEF;
}
/* line 370, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper .homepage-block-title a, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper .homepage-block-title a {
  color: #43BFEF;
  text-decoration: none;
}
/* line 375, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper .homepage-body, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper .homepage-body {
  font-size: 16px;
  font-family: myraid-pro;
  color: #6a6a6a;
  width: 60%;
  float: left;
}
/* line 381, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper .homepage-body p, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper .homepage-body p {
  padding: 0 15px;
}
/* line 384, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper .homepage-body a, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper .homepage-body a {
  color: #43BFEF;
  text-decoration: none;
}
/* line 389, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper .more-links, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper .more-links {
  width: 8%;
  float: left;
  margin-left: 4%;
}
/* line 393, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper .more-links ul, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper .more-links ul {
  list-style: none;
  padding: 0;
}
/* line 396, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper .more-links ul li, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper .more-links ul li {
  border-bottom: 2px solid #43BFEF;
  padding-top: 2px;
}
/* line 399, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper .more-links ul li a, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper .more-links ul li a {
  text-decoration: none;
  color: #1C1C1B;
  font-size: 13px;
  text-transform: uppercase;
  font-family: helvetica;
}
/* line 406, ../sass/custom/_project.scss */
.blockqueue-homepage-approach .homepage-impact-wrapper .impact-content-wrapper .more-links ul li:last-child, .blockqueue-homepage-water .homepage-impact-wrapper .impact-content-wrapper .more-links ul li:last-child {
  border-bottom: none;
}
/* line 414, ../sass/custom/_project.scss */
.blockqueue-homepage-approach #block-menu-menu-approach, .blockqueue-homepage-approach #block-menu-menu-water, .blockqueue-homepage-water #block-menu-menu-approach, .blockqueue-homepage-water #block-menu-menu-water {
  padding: 0 40px 48px;
  display: inline-block;
  width: 100%;
}
/* line 418, ../sass/custom/_project.scss */
.blockqueue-homepage-approach #block-menu-menu-approach h2, .blockqueue-homepage-approach #block-menu-menu-water h2, .blockqueue-homepage-water #block-menu-menu-approach h2, .blockqueue-homepage-water #block-menu-menu-water h2 {
  font-size: 19px;
  font-family: helvetica;
  color: #7b7c7c;
  font-weight: bold;
  width: 26%;
  position: relative;
  float: left;
}
/* line 426, ../sass/custom/_project.scss */
.blockqueue-homepage-approach #block-menu-menu-approach h2:before, .blockqueue-homepage-approach #block-menu-menu-water h2:before, .blockqueue-homepage-water #block-menu-menu-approach h2:before, .blockqueue-homepage-water #block-menu-menu-water h2:before {
  content: "";
  position: absolute;
  background-color: #aaacaf;
  height: 16px;
  width: 205px;
  top: 23px;
}
/* line 435, ../sass/custom/_project.scss */
.blockqueue-homepage-approach #block-menu-menu-approach .content, .blockqueue-homepage-approach #block-menu-menu-water .content, .blockqueue-homepage-water #block-menu-menu-approach .content, .blockqueue-homepage-water #block-menu-menu-water .content {
  width: 74%;
  float: left;
  display: inline-block;
  margin-top: 34px;
}
/* line 440, ../sass/custom/_project.scss */
.blockqueue-homepage-approach #block-menu-menu-approach .content li, .blockqueue-homepage-approach #block-menu-menu-water .content li, .blockqueue-homepage-water #block-menu-menu-approach .content li, .blockqueue-homepage-water #block-menu-menu-water .content li {
  float: left;
  background-image: url("../images/approach-1.jpg");
  background-repeat: no-repeat;
  background-position: 0% 63%;
  padding-right: 32px;
}
/* line 446, ../sass/custom/_project.scss */
.blockqueue-homepage-approach #block-menu-menu-approach .content li a, .blockqueue-homepage-approach #block-menu-menu-water .content li a, .blockqueue-homepage-water #block-menu-menu-approach .content li a, .blockqueue-homepage-water #block-menu-menu-water .content li a {
  font-size: 21px;
  font-family: bebas-neue;
  text-decoration: none;
  text-transform: uppercase;
  color: #43BFEF;
  margin-left: 60px;
  padding: 0;
}
/* line 454, ../sass/custom/_project.scss */
.blockqueue-homepage-approach #block-menu-menu-approach .content li a:hover, .blockqueue-homepage-approach #block-menu-menu-water .content li a:hover, .blockqueue-homepage-water #block-menu-menu-approach .content li a:hover, .blockqueue-homepage-water #block-menu-menu-water .content li a:hover {
  background-color: transparent;
}
/* line 463, ../sass/custom/_project.scss */
.blockqueue-homepage-approach #block-menu-menu-water h2:before, .blockqueue-homepage-water #block-menu-menu-water h2:before {
  width: 226px;
}

/*css ends for approach-block*/
/*css ends for water-block*/
/*css for program-block*/
/* line 472, ../sass/custom/_project.scss */
.blockqueue-homepage-programs {
  display: inline-block;
  width: 100%;
}
/* line 477, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .homepage-image img {
  width: 100%;
}
/* line 481, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper {
  padding: 33px 0px 0px 40px;
  display: inline-block;
  width: 100%;
}
/* line 485, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper .homepage-block-title {
  font-size: 36px;
  font-family: myriad-pro;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  width: 24.2%;
  margin-top: -8px;
  color: #43BFEF;
}
/* line 494, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper .homepage-block-title a {
  color: #43BFEF;
  text-decoration: none;
}
/* line 499, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper .homepage-body {
  font-size: 16px;
  font-family: myriad-pro;
  color: #6a6a6a;
  width: 60%;
  float: left;
}
/* line 505, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper .homepage-body p {
  padding: 0 15px;
}
/* line 508, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper .homepage-body a {
  color: #43BFEF;
  text-decoration: none;
}
/* line 513, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper .more-links {
  width: 12%;
  float: left;
}
/* line 516, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper .more-links ul {
  list-style: none;
  padding: 0;
}
/* line 519, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper .more-links ul li {
  border-bottom: 2px solid #43BFEF;
  padding-top: 2px;
}
/* line 522, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper .more-links ul li a {
  text-decoration: none;
  color: #1C1C1B;
  font-size: 13px;
  text-transform: uppercase;
  font-family: helvetica;
}
/* line 529, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .homepage-impact-wrapper .impact-content-wrapper .more-links ul li:last-child {
  border-bottom: none;
}
/* line 537, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .main-krishak {
  display: inline-block;
  width: 100%;
  margin-top: -18px;
}
/* line 541, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .main-krishak .krishak-logo {
  width: 28.6%;
  float: left;
}
/* line 544, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .main-krishak .krishak-logo img {
  float: right;
  margin-right: 66px;
  margin-top: -34px;
}
/* line 550, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .main-krishak .krishak-body {
  width: 50%;
  float: left;
  font-size: 16px;
  font-family: myriad-pro;
  color: #6a6a6a;
}
/* line 556, ../sass/custom/_project.scss */
.blockqueue-homepage-programs .main-krishak .krishak-body .krishak-title {
  float: left;
  font-size: 21px;
  font-family: bebas-neue;
  color: #43BFEF;
  height: 20px;
  padding-right: 8px;
  margin-top: -4px;
}
/* line 567, ../sass/custom/_project.scss */
.blockqueue-homepage-programs #block-menu-menu-programs {
  padding: 0 0px 46px 40px;
  display: inline-block;
  width: 100%;
}
/* line 571, ../sass/custom/_project.scss */
.blockqueue-homepage-programs #block-menu-menu-programs h2 {
  font-size: 19px;
  font-family: helvetica;
  color: #7b7c7c;
  font-weight: bold;
  width: 17%;
  position: relative;
  float: left;
}
/* line 579, ../sass/custom/_project.scss */
.blockqueue-homepage-programs #block-menu-menu-programs h2:before {
  content: "";
  position: absolute;
  background-color: #aaacaf;
  height: 16px;
  width: 82px;
  top: 42px;
}
/* line 588, ../sass/custom/_project.scss */
.blockqueue-homepage-programs #block-menu-menu-programs .content {
  width: 82%;
  float: left;
  display: inline-block;
  margin-top: 48px;
  position: relative;
  left: 83px;
}
/* line 595, ../sass/custom/_project.scss */
.blockqueue-homepage-programs #block-menu-menu-programs .content li {
  float: left;
  background-image: url("../images/programs-1.jpg");
  background-repeat: no-repeat;
  background-position: 0% 63%;
  height: 38px;
  padding-right: 24px;
}
/* line 602, ../sass/custom/_project.scss */
.blockqueue-homepage-programs #block-menu-menu-programs .content li a {
  font-size: 21px;
  font-family: bebas-neue;
  text-decoration: none;
  text-transform: uppercase;
  color: #43BFEF;
  margin-left: 35px;
  padding: 0;
  line-height: 1em;
  margin-top: 10px;
}
/* line 612, ../sass/custom/_project.scss */
.blockqueue-homepage-programs #block-menu-menu-programs .content li a:hover, .blockqueue-homepage-programs #block-menu-menu-programs .content li a:focus {
  background-color: transparent;
}
/* line 616, ../sass/custom/_project.scss */
.blockqueue-homepage-programs #block-menu-menu-programs .content li:nth-child(4) {
  width: 18%;
}
/* line 618, ../sass/custom/_project.scss */
.blockqueue-homepage-programs #block-menu-menu-programs .content li:nth-child(4) a {
  width: 46%;
}
/* line 623, ../sass/custom/_project.scss */
.blockqueue-homepage-programs #block-menu-menu-programs .content li:nth-child(5) a {
  width: 46%;
}

/*css ends for program-block*/
/*css for logo-slider-block*/
/* line 635, ../sass/custom/_project.scss */
#block-views-awards-slider-block {
  width: 100%;
  display: inline-block;
}
/* line 639, ../sass/custom/_project.scss */
#block-views-awards-slider-block .jcarousel-skin-default .jcarousel-container-horizontal {
  width: 100% !important;
  margin: 0;
  padding: 0;
  height: auto;
}
/* line 645, ../sass/custom/_project.scss */
#block-views-awards-slider-block .jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 100% !important;
  border: 2px solid #aaacaf;
}
/* line 650, ../sass/custom/_project.scss */
#block-views-awards-slider-block .jcarousel-skin-default .jcarousel-item {
  width: 205px;
  height: 191px;
  margin: 0;
  border: none;
  border-right: 4px solid #22305b;
}
/* line 657, ../sass/custom/_project.scss */
#block-views-awards-slider-block .jcarousel-skin-default .jcarousel-prev-horizontal {
  top: 103%;
  position: absolute;
  left: 47%;
  background-image: url("../images/non-active.jpg");
  background-repeat: no-repeat;
  z-index: 9;
}
/* line 664, ../sass/custom/_project.scss */
#block-views-awards-slider-block .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-image: url("../images/active.jpg") !important;
  background-position: 0 0;
}
/* line 669, ../sass/custom/_project.scss */
#block-views-awards-slider-block .jcarousel-skin-default .jcarousel-next-horizontal {
  top: 103%;
  position: absolute;
  left: 50%;
  background-image: url("../images/non-active.jpg");
  background-repeat: no-repeat;
  height: 30px;
  width: 34px;
  background-position: 2px 0;
  z-index: 9;
}
/* line 679, ../sass/custom/_project.scss */
#block-views-awards-slider-block .jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-image: url("../images/active.jpg") !important;
}

/*css ends for logo-slider-block*/
/*css for awards-block*/
/* line 690, ../sass/custom/_project.scss */
.blockqueue-partners .view-homepage-content .homepage-impact-wrapper {
  padding: 32px 0px 0px 40px;
  display: inline-block;
  width: 100%;
}
/* line 694, ../sass/custom/_project.scss */
.blockqueue-partners .view-homepage-content .homepage-impact-wrapper .homepage-block-title {
  font-size: 36px;
  font-family: myriad-pro;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  width: 24.2%;
  margin-top: -8px;
  color: #43BFEF;
}
/* line 703, ../sass/custom/_project.scss */
.blockqueue-partners .view-homepage-content .homepage-impact-wrapper .homepage-block-title a {
  color: #43BFEF;
  text-decoration: none;
}
/* line 708, ../sass/custom/_project.scss */
.blockqueue-partners .view-homepage-content .homepage-impact-wrapper .homepage-body {
  font-size: 16px;
  font-family: myriad-pro;
  color: #6a6a6a;
  width: 55%;
  float: left;
}
/* line 714, ../sass/custom/_project.scss */
.blockqueue-partners .view-homepage-content .homepage-impact-wrapper .homepage-body p {
  padding: 0 40px 0 9px;
}
/* line 717, ../sass/custom/_project.scss */
.blockqueue-partners .view-homepage-content .homepage-impact-wrapper .homepage-body a {
  color: #43BFEF;
  text-decoration: none;
}
/* line 722, ../sass/custom/_project.scss */
.blockqueue-partners .view-homepage-content .homepage-impact-wrapper .awards-video {
  display: inline-block;
  position: relative;
}
/* line 725, ../sass/custom/_project.scss */
.blockqueue-partners .view-homepage-content .homepage-impact-wrapper .awards-video a {
  display: inline-block;
}
/* line 728, ../sass/custom/_project.scss */
.blockqueue-partners .view-homepage-content .homepage-impact-wrapper .awards-video a:before {
  content: "";
  position: absolute;
  background-image: url("../images/youicon.png");
  height: 100%;
  width: 100%;
  background-position: 35px 9px;
  background-repeat: no-repeat;
}
/* line 742, ../sass/custom/_project.scss */
.blockqueue-partners #block-views-awards-slider-block-1 {
  padding: 14px 40px 40px;
  display: inline-block;
  width: 100%;
}
/* line 746, ../sass/custom/_project.scss */
.blockqueue-partners #block-views-awards-slider-block-1 h2 {
  font-size: 19px;
  font-family: helvetica;
  color: #7b7c7c;
  font-weight: bold;
  width: 26%;
  position: relative;
  float: left;
}
/* line 754, ../sass/custom/_project.scss */
.blockqueue-partners #block-views-awards-slider-block-1 h2:before {
  content: "";
  position: absolute;
  background-color: #aaacaf;
  height: 16px;
  width: 157px;
  top: 23px;
}
/* line 763, ../sass/custom/_project.scss */
.blockqueue-partners #block-views-awards-slider-block-1 .content {
  width: 74%;
  float: left;
  display: inline-block;
  margin-top: 10px;
}
/* line 769, ../sass/custom/_project.scss */
.blockqueue-partners #block-views-awards-slider-block-1 .content .view-content .views-row {
  float: left;
  padding-right: 3.5%;
}
/* line 772, ../sass/custom/_project.scss */
.blockqueue-partners #block-views-awards-slider-block-1 .content .view-content .views-row:nth-child(2) {
  margin-top: 9px;
}
/* line 775, ../sass/custom/_project.scss */
.blockqueue-partners #block-views-awards-slider-block-1 .content .view-content .views-row:nth-child(3) {
  margin-top: 19px;
}
/* line 778, ../sass/custom/_project.scss */
.blockqueue-partners #block-views-awards-slider-block-1 .content .view-content .views-row:nth-child(4) {
  margin-top: -4px;
}
/* line 781, ../sass/custom/_project.scss */
.blockqueue-partners #block-views-awards-slider-block-1 .content .view-content .views-row:nth-child(5) {
  margin-top: 11px;
}

/*css ends for awards-block*/
