
.footer {
  padding: 0;
  width: 100%;
  background: #333232;
  min-height: 250px;
  margin-top: -1px;
  padding-top: 6px;
  a{
  	&:hover {
   		background: transparent !important;
  	}
  }
  .region-footer {
    padding: 0 0 0 30px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .block-title {
   	color: #fff;
   	font-size: 15px;
    margin-top: 38px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .menu{
  	margin-bottom: 10px;
    margin-top: 13px;
  	li{
  		margin-bottom: 5px;
  		 a {
  	  	color: $light-grey;
  	  	font-family: OpenSans;
  	  	font-size: 15px;
  	  	padding: 0 !important;
  	  	font-weight: bold;
        &:hover {
          color: $light-blue;
        }
  		}
  	}
  }

  .facebook-block {
  	float: left;
  	width: 40%;
    margin-bottom: 20px;
  	.facebook-wrapper {
 		  float: left;
  		width: 54%;
  		.footer-logo {
 				
 				img {
 				  height: 65px !important;
  			  width: 72px !important;
				}
			}
			ul {
  			padding: 0;
  			margin-top: 7px;
  			li {
          padding-bottom: 5px;
          list-style: none;
          font-family: OpenSans;
          a {
            color: $light-grey;
            font-weight: bold;
            font-family: OpenSans;
            font-size: 15px;
            &:hover {
              color: $light-blue;
            }
          }
 					&:nth-of-type(1){
 					  img {
    					height: 15px !important;
    					width: 12px !important;
    					margin-right: 7px;
            }
					}
          &:nth-of-type(2){
           img {
              height: 15px !important;
              width: 10px !important;
              margin-right: 8px;
            }
          }
          &:nth-of-type(3){
            img {
              height: 13px !important;
              width: 13px !important;
              margin-right: 6px;
            }
          }
        }  
			}		  
		}
	}
	.connect-wrapper {
		  float: left;
		width: 46%;
		
		h2 {
		  color: #fff;
			font-size: 15px;
			padding-top: 18px;
			font-family: OpenSans;
			font-weight: bold;
			padding-bottom: 5px;
		}
		ul {
			padding: 0;
			list-style: none;
			color: #fff;
      margin-top: 13px;
			li {
				font-size: 14px;
				margin-bottom: 5px;
				font-family: OpenSans;
				color:$light-grey;
				font-weight: bold;
        &:hover {
          color: $light-blue;
        }
			}
		}
	}
	#block-menu-menu-footer-about-us {
  	float: left;
  	width: 20%;

	}
	#block-menu-menu-footer-resources {
  	float: left;
  	width: 21.5%;

	}
	#block-menu-menu-footer-get-involved {
 	  float: left;
  	width: 18%;

	}

}
.copyright {
  clear: both;
  border-top: 1px solid  $light-grey;
  width: 90.3%;
  padding-top: 8px;
  p {
  	&:nth-of-type(1) {
  		color: $light-blue;
  		width: 62%;
  		font-family: OpenSans;
  		font-size: 13px;
  		text-transform: uppercase;
  		float: left;
		}
		 &:nth-of-type(2) {
  		color: #fff;
  		width: 36%;
  		font-family: OpenSans;
  		font-size: 10px;
  		float: right;
		}
	}
}