@font-face {
    font-family:Bebas-Neue;
    src: url("../fonts/BebasNeuewebfont.ttf"), url("../fonts/BebasNeuewebfont.woff")
}
@font-face {
    font-family:helvetica-bold;
    src: url("../fonts/Helvetica-Bold.ttf");
}
@font-face {
    font-family:helvetica;
    src: url("../fonts/helvetica.ttf"), url("../fonts/helvetica.woff");
}
@font-face {
  font-family:myriad-pro;
  src: url("../fonts/MyriadPro-Regular.otf"), url("../fonts/MyriadPro-Regular.woff");
}
@font-face {
  font-family:myriad-pro-semibold;
  src: url("../fonts/MyriadPro-Semibold.ttf"), url("../fonts/MyriadPro-Semibold.woff");
}
@font-face {
  font-family:rockwell;
  src: url("../fonts/rockwell.ttf"), url("../fonts/rockwell.woff");
}

body{
	background: #ccc;
}
a, p, h2 {
	font-family: myriad-pro;
}
.main-container {
	background: #fff none repeat scroll 0 0;
	margin: 0 auto;
	max-width: 1025px;
	padding: 71px 0 0;
	width: 100%;
}

