@font-face {
    font-family:Bebas-Neue;
    src: url("../fonts/BebasNeuewebfont.ttf"), url("../fonts/BebasNeuewebfont.woff")
}
@font-face {
    font-family:helvetica-bold;
    src: url("../fonts/Helvetica-Bold.ttf");
}
@font-face {
    font-family:helvetica;
    src: url("../fonts/helvetica.ttf"), url("../fonts/helvetica.woff");
}
@font-face {
  font-family:OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf"), url("../fonts/OpenSans-Regular.woff");
}
@font-face {
  font-family:myriad-pro-semibold;
  src: url("../fonts/MyriadPro-Semibold.ttf"), url("../fonts/MyriadPro-Semibold.woff");
}
@font-face {
  font-family:rockwell;
  src: url("../fonts/rockwell.ttf"), url("../fonts/rockwell.woff");
}

body{
	background: #F0F0F0;
}
a, p, h2 {
	font-family: OpenSans;
  text-decoration: none !important;
  &:focus {
    outline: none !important;
    background: transparent !important;
  }
}

.main-container {
	background: #fff none repeat scroll 0 0;
	margin: 0 auto;
	max-width: 100%;
	padding: 71px 0 0;
	width: 100%;
}
.row {
  margin: 0;
}
.col-sm-12 {
  padding: 0;
}
#backtotop {
    background: url(../images/back-to-top.png) no-repeat center center !important;
    height: 60px !important;
    width: 60px !important;
}

/*css for cross image over pop-up images*/
#cboxClose {
  background: url("../images/cross.png") no-repeat !important;
  height: 37px !important;
  width: 45px !important;
  top: 6px;
  right: 3px;
}

/*---------animations----------*/
.animate {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
 
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
 
