.navbar {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 -4px 11px #000;
	margin: 0 auto !important;
	max-width: 100% !important;
	padding: 0;
	position: fixed;
	width: 100% !important;
	z-index: 1000;
	height: 71.4px;
	.container {
		position: relative;
		width: 100% !important;
		margin: 0 auto !important;
		max-width: 1025px !important;
		.navbar-collapse.collapse {
 			 position: absolute;
  			top: 46px;
  			right: 10px;
		}
	  	.navbar-header{
			width: 100% !important;
			.logo {
				margin: 0;
				padding: 0 0 0 95px;
			}
			.social-links {
					float: right;
					padding-right: 29px;
					#block-search-form {
					float: left;
				}
					#block-search-form {
						display: none;
	 				.input-group-btn {
	 					display: none !important;
					}
					.input-group {
						.form-control {
							height: 25px;
							border-radius: 12px !important;
							-moz-box-shadow:  0px 0 10px #43bfef;
							-webkit-box-shadow:  0px 0 10px #43bfef;
						    box-shadow: 0px 0 10px #43bfef;
						    border: 1px solid #43bfef;
						    color: #43bfef;
						    font-size: 12px;
						    font-family: myriad-pro;
						    margin-top: 3px;
						}
						::-webkit-input-placeholder {
								color:#43bfef;
						}
						:-moz-placeholder { 
						   color: #43bfef;  
						}
						::-moz-placeholder {  
						   color: #43bfef;  
						}
						:-ms-input-placeholder {  
						   color: #43bfef;  
						}
					}
			 	}
			 	.search-logo{
			 		position: relative;
			 		z-index: 20;
			 	}
				.header-social-links {
	 				float: left;
	  				margin-top: 8px;
	  				padding-right: 8px;
	  				.search-logo {
	  					cursor: pointer;
	  				}
	  				img {
	  					height: 25px !important;
	  					width: 25px !important;
	  					margin-right: 6px;
	  				}
	  				p {
	  					a:last-of-type {
	  						img {
	  							margin-right: 0;
	  						}
	  					}
	  				}
				}
			}
		}
		.navbar-collapse {
		  padding: 0;
		  .region-navigation {
		  		padding-right: 28px;
		 	}
		}
		.custom-navigation, #block-system-main-menu {
		  	li {
				border-right: 1px solid #6a6a6a;
				display: inline-block;
				float: left;
				padding-left: 11px;
				padding-right: 11px;
				font-size: 13px;
				font-family: myriad-pro;
				&:last-child {
					padding-right: 0 !important;
					border: none;
				}
				&:focus {
					outline: none;
				}
				a {
					color: #6a6a6a;
					text-decoration: none;
					padding: 0;
					&:hover{
						color: #43bfef;
						background-color: transparent;
					}
					&:focus {
						background-color: transparent;
					}
				}
			}
		}
		#block-menu-menu-impact {
			width: 100%;
		    background-color: #fff;
		    position: fixed;
		    left: 0;
		    top: 71px;
		    border-top: 1px solid #9d9d9d;
		    box-shadow: 0 5px 11px #9d9d9d;
		    ul {
		    text-align: center; 
		    padding: 3px 0;
			    li {
			    	border-right: 1px solid #6a6a6a;
					display: inline-block;
					padding-left: 11px;
					padding-right: 11px;
					font-size: 13px;
					font-family: myriad-pro;
					text-transform: uppercase;
					vertical-align: middle;
					&:focus {
						outline: none;
					}
					&:last-child {
						border-right: none;
						padding-right: 0;
					}
					a {
						color: #6a6a6a;
						text-decoration: none;
						padding: 0;
						&:hover{
							color: #43bfef;
							background-color: transparent;
						}
						&:focus {
							background-color: transparent;
						}
					}
			    }
			}
		}
	}
}

/*css for ie */
.ie {
	.navbar {
		.container {
			.navbar-header {
				.logo {
					padding: 0 0 0 75px;
				}
			}
		}
	}
}


#home-block-block-2:before,
#home-block-block-3:before,
#home-block-block-4:before,
#home-block-block-5:before,
#home-block-block-8:before { 
  display: block; 
  content: " "; 
  margin-top: -73px; 
  height: 73px; 
  visibility: hidden; 
}