.navbar {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 -4px 11px #000;
	margin: 0 auto !important;
	max-width: 100% !important;
	opacity: 0.9;
	padding: 0;
	position: fixed;
	width: 100% !important;
	z-index: 1000;
	.container{
		position: relative;
		width: 100% !important;
		margin: 0 auto !important;
		max-width: 1025px !important;
  	.navbar-header{
			width: 100% !important;
			.logo {
 				margin: 0;
  			padding: 0;
			}
			.social-links {
 				float: right;
				.header-social-links {
 					float: left;
  				margin-top: 8px;
  				padding-right: 8px;
				}
			}
		}
		.navbar-collapse {
		  padding: 0;
		}
		.custom-navigation {
		position: absolute;
		right: 0;
		top: 23px;
		width: 830px;
		  li {
				border-right: 1px solid #6a6a6a;
				display: inline-block;
				float: left;
				padding-left: 13px;
				padding-right: 13px;
				font-size: 14px;
				font-family: myriad-pro;
 				&:last-child {
  				padding-right: 0 !important;
  				border: none;
				}
				a {
  				color: #6a6a6a;
  				&:hover{
 					 color: #2a569b;
					}
				}
			}
		}
	}
}


#home-block-block-2:before,
#home-block-block-3:before,
#home-block-block-4:before,
#home-block-block-5:before,
#home-block-block-8:before { 
  display: block; 
  content: " "; 
  margin-top: -73px; 
  height: 73px; 
  visibility: hidden; 
}