/*css for homepage-slider*/

.slide-wrapper {
  position: relative;
  	.slide-image {
	  	width: 100%;
	  	img {
	  		width: 100%;
	  	}
  	}
  	.slide-title {
	 	position: absolute;
	  	bottom: 40%;
	  	color: #fff;
	  	font-size: 40px;
	  	font-family: myriad-pro;
	  	left: 5.4%;
	  	font-style: italic;
	  	a {
	  		text-decoration: none;
	  		color: #fff;
	  	}
	}
}
/*css ends for homepage-slider*/

/*css for ticker-section*/
#block-views-ticker-block {
	display: inline-block;
	width: 100%;
	border: 2px solid #22305b;
    height: 28px;
	h2 {
		width: 20.8%;
        word-spacing: 1.2px;
	    font-size: 16px;
	    background-color: #22305b;
	    margin: 0;
	    color: #fff;
	    padding: 4.3px 0px 4.5px 33px;
	    font-family: myriad-pro;
	    float: left;
	}
	.liScroll-container {
		width: 79.2%;
		.mask {
			width: 100%;
			top: 5px;
			position: relative;
			.views-liScroll-item {
				border-left: 1px solid #31343e;
			    padding-left: 8px;
			    padding-right: 8px;
			    a {
			    	color: #31343e;
				    font-family: myraid-pro;
				    font-size: 12px;
				    margin: 0;
				    text-decoration: none;
			    }
			    &:last-of-type {
			    	border-right: 1px solid #31343e;
			    }
			}
			ul.liScroll {
				span {
					margin: 0;
				}
			}
		}
	}
}

/*css for ie*/
.ie {
	#block-views-ticker-block {
		h2 {
			width: 21.8%;
		    word-spacing: 0.2px;
		    padding: 4.3px 0px 3px 14px;
		}
		.liScroll-container {
	    	width: 78.2%;
	    }
	}
}
/*css ends for ticker-section*/

/*css for water-block*/
#block-blockqueue-homepage-its-all-about-water {
	display: inline-block;
    width: 100%;
    padding: 36px 0 41px;
    .view-homepage-content {
    	width: 55%;
    	text-align: center;
    	margin: 0 auto;
    	.views-field-title {
    		font-size: 23px;
		    color: #43BFEF;
		    font-family: helvetica;
		    font-weight: bold;
    	}
    	.views-field-body {
    		font-size: 16px;
		    color: #6a6a6a;
		    font-family: myraid-pro;
		    margin-top: -5px;
    	}
    }
    #block-views-infographics-block {
    	width: 100%;
    	display: inline-block;
    	padding-top: 21px;
	    .view-infographics {
	    	width: 80%;
	        margin: 0 auto;
	        ul {
	        	list-style: none;
	        	li {
	        		float: left;
	        		width: 22%;
	        		background-image: url("../images/water.jpg");
   					height: 130px;
   					background-repeat: no-repeat;
   					margin-right: 3%;
   					&:last-child {
   						margin-right: 0;
   					}
	        		.content {
	        			text-align: center;
	        			.field-items {
	        				.field-item{
	        					&:nth-child(1) {
	        						font-size: 50px;
								    font-family: bebas-neue;
								    color: #45C0F0;
								    margin-top: 6px;
	        					}
	        					&:nth-child(2) {
	        						font-size: 25px;
								    font-family: bebas-neue;
								    color: #45C0F0;
								    margin-top: -17px;
								}
								&:nth-child(3) {
	        						font-size: 12px;
								    font-family: myriad-pro-semibold;
								    color: #6a6a6a;
								    width: 75px;
								    margin: -7px auto;
								    line-height: 12px;
								}
	        				}
	        			}
	        		}
	        	}
	        }
	    }
	}
}
/*css ends for water-block*/

/*css for impact-block*/

.blockqueue-homepage-impact {
	display: inline-block;
    width: 100%;
    .homepage-impact-wrapper {
    	.homepage-image {
    		img {
    			width: 100%;
    		}
    	}
    	.impact-content-wrapper {
    		padding: 11px 40px 0px;
    		display: inline-block;
    		width: 100%;
    		.homepage-block-title {
    			font-size: 36px;
			    font-family: myriad-pro;
			    text-transform: uppercase;
			    font-weight: bold;
			    float: left;
    			width: 24.2%;
    			margin-top: -8px;
    			color: #43BFEF;
			    a {
			    	color: #43BFEF;
			    	text-decoration: none;
			    }
    		}
    		.homepage-body {
			    font-size: 16px;
			    font-family: myraid-pro;
			    color: #6a6a6a;
			    width: 60%;
    			float: left;
    			p {
    				padding: 0 15px;
    			}
			    a {
					color: #43BFEF;
			    	text-decoration: none;
			    }
			}
			.more-links {
				width: 8%;
    			float: left;
    			margin-left: 4%;
				ul {
					list-style: none;
					padding: 0;
					li {
						border-bottom: 2px solid #43BFEF;
						padding-top: 2px;
						a {
							text-decoration: none;
						    color: #1C1C1B;
						    font-size: 13px;
						    text-transform: uppercase;
						    font-family: helvetica;
						}
						&:last-child {
							border-bottom: none;
						}
					}	
				}
			}
    	}
    }
    #block-views-infographics-block-1 {
    	display: inline-block;
	    width: 100%; 
	    margin-top: -19px;  
	    h2 {
	    	font-size: 19px;
		    font-family: helvetica;
		    color: #7b7c7c;
		    font-weight: bold;
		    margin-top: 0;
		    width: 30%;
		    padding: 0 40px 0;
		    position: relative;
		    &:before {
			    content: "";
			    position: absolute;
			    background-color: #aaacaf;
			    height: 16px;
			    width: 90px;
			    top: 42px;
		    }
	    }
	    .view-infographics {
	    	width: 80%;
    		margin: 0 auto;
    		ul {
    			list-style: none;
			    padding: 0;
			    display: inline-block;
			    width: 100%;
			    margin-left: 49px;
    			margin-top: -9px;
			    li {
			    	float: left;
    				width: 22%;
    				margin-right: 3%;
    				&:last-child {
    					margin-right: 0;
    				}
			    }
    		}
    		.field-items {
				.field-item{
					&:nth-child(1) {
						font-size: 14px;
					    font-family: myriad-pro;
					    color: #6a6a6a;
					}
					&:nth-child(2) {
						font-size: 31px;
					    font-family: bebas-neue;
					    color: #43BFEF;
					    float: left;
					    margin-top: -6px;
    					margin-right: 7px;
					}
					&:nth-child(3) {
						font-size: 21px;
					    font-family: bebas-neue;
					    color: #43BFEF;
					    float: left;
					    margin-top: 4px;
    					margin-right: 3px;
					}
					&:nth-child(4) {
						font-size: 10px;
					    font-family: rockwell;
					    color: #43BFEF;
					    float: left;
					    margin-top: 14.5px;
					}
				}
			}
	    }
    }
    #block-views-infographics-block-2 {
    	width: 100%;
    	display: inline-block;
    	margin-top: -25px;
    	padding-bottom: 34px;
	    .view-infographics {
	    	width: 80%;
	        margin: 0 auto;
	        ul {
	        	list-style: none;
	        	li {
	        		float: left;
	        		width: 22%;
	        		background-image: url("../images/water.jpg");
   					height: 130px;
   					background-repeat: no-repeat;
   					margin-right: 3%;
   					&:last-child {
   						margin-right: 0;
   					}
	        		.content {
	        			text-align: center;
	        			.field-items {
	        				.field-item{
	        					&:nth-child(1) {
	        						font-size: 50px;
								    font-family: bebas-neue;
								    color: #45C0F0;
								    margin-top: 6px;
	        					}
	        					&:nth-child(2) {
	        						font-size: 25px;
								    font-family: bebas-neue;
								    color: #45C0F0;
								    margin-top: -17px;
								}
								&:nth-child(3) {
	        						font-size: 12px;
								    font-family: myriad-pro-semibold;
								    color: #6a6a6a;
								    width: 75px;
								    margin: -7px auto;
								    line-height: 12px;
								}
	        				}
	        			}
	        		}
	        	}
	        }
	    }
	}
}
/*css ends for impact-block*/

/*css for approach-block   /*css for water-block*/
.blockqueue-homepage-approach, .blockqueue-homepage-water {
	display: inline-block;
    width: 100%;
    .homepage-impact-wrapper {
    	.homepage-image {
    		img {
    			width: 100%;
    		}
    	}
    	.impact-content-wrapper {
    		padding: 11px 40px 0px;
    		display: inline-block;
    		width: 100%;
    		.homepage-block-title {
    			font-size: 36px;
			    font-family: myriad-pro;
			    text-transform: uppercase;
			    font-weight: bold;
			    float: left;
    			width: 24.2%;
    			margin-top: -8px;
    			color: #43BFEF;
			    a {
			    	color: #43BFEF;
			    	text-decoration: none;
			    }
    		}
    		.homepage-body {
			    font-size: 16px;
			    font-family: myraid-pro;
			    color: #6a6a6a;
			    width: 60%;
    			float: left;
    			p {
    				padding: 0 15px;
    			}
			    a {
					color: #43BFEF;
			    	text-decoration: none;
			    }
			}
			.more-links {
			    width: 8%;
			    float: left;
			    margin-left: 4%;
			    ul {
					list-style: none;
					padding: 0;
					li {
						border-bottom: 2px solid #43BFEF;
						padding-top: 2px;
						a {
							text-decoration: none;
						    color: #1C1C1B;
						    font-size: 13px;
						    text-transform: uppercase;
						    font-family: helvetica;
						}
						&:last-child {
							border-bottom: none;
						}
					}	
				}
			}
    	}
    }
    #block-menu-menu-approach, #block-menu-menu-water {
    	padding: 0 40px 48px;
    	display: inline-block;
    	width: 100%;
    	h2 {
	    	font-size: 19px;
		    font-family: helvetica;
		    color: #7b7c7c;
		    font-weight: bold;
		    width: 26%;
		    position: relative;
		    float: left;
		    &:before {
			    content: "";
			    position: absolute;
			    background-color: #aaacaf;
			    height: 16px;
			    width: 205px;
			    top: 23px;
		    }
	    }
	    .content {
	    	width: 74%;
	    	float: left;
	    	display: inline-block;
	    	margin-top: 34px;
	    	li {
	    		float: left;
	    		background-image: url("../images/approach-1.jpg");
			    background-repeat: no-repeat;
			    background-position: 0% 63%;
			    padding-right: 32px;
	    		a {
	    			font-size: 21px;
				    font-family: bebas-neue;
				    text-decoration: none;
				    text-transform: uppercase;
				    color: #43BFEF;
				    margin-left: 60px;
				    padding: 0;
				    &:hover {
				    	background-color: transparent;
				    }
	    		}
	    	}
	    }
    }
    #block-menu-menu-water {
    	h2 {
    		&:before {
    			 width: 226px;
    		}
    	}
    }
}
/*css ends for approach-block*/   /*css ends for water-block*/

/*css for program-block*/
.blockqueue-homepage-programs {
	display: inline-block;
    width: 100%;
    .homepage-impact-wrapper {
    	.homepage-image {
    		img {
    			width: 100%;
    		}
    	}
    	.impact-content-wrapper {
    		padding: 33px 0px 0px 40px;
    		display: inline-block;
    		width: 100%;
    		.homepage-block-title {
    			font-size: 36px;
			    font-family: myriad-pro;
			    text-transform: uppercase;
			    font-weight: bold;
			    float: left;
    			width: 24.2%;
    			margin-top: -8px;
    			color: #43BFEF;
			    a {
			    	color: #43BFEF;
			    	text-decoration: none;
			    }
    		}
    		.homepage-body {
			    font-size: 16px;
			    font-family: myriad-pro;
			    color: #6a6a6a;
			    width: 60%;
    			float: left;
    			p {
    				padding: 0 15px;
    			}
			    a {
					color: #43BFEF;
			    	text-decoration: none;
			    }
			}
			.more-links {
				width: 12%;
    			float: left;
				ul {
					list-style: none;
					padding: 0;
					li {
						border-bottom: 2px solid #43BFEF;
						padding-top: 2px;
						a {
							text-decoration: none;
						    color: #1C1C1B;
						    font-size: 13px;
						    text-transform: uppercase;
						    font-family: helvetica;
						}
						&:last-child {
							border-bottom: none;
						}
					}	
				}
			}
    	}
    }
    .main-krishak {
    	display: inline-block;
    	width: 100%;
    	margin-top: -18px;
    	.krishak-logo {
    		width: 28.6%;
    		float: left;
    		img {
    			float: right;
			    margin-right: 66px;
			    margin-top: -34px;
    		}
    	}
    	.krishak-body {
    		width: 50%;
    		float: left;
    		font-size: 16px;
    		font-family: myriad-pro;
    		color: #6a6a6a;
    		.krishak-title {
    			float: left;
    			font-size: 21px;
    			font-family: bebas-neue;
    			color: #43BFEF;
    			height: 20px;
    			padding-right: 8px;
    			margin-top: -4px;
    		}
    	}
    }
    #block-menu-menu-programs {
    	padding: 0 0px 46px 40px;
    	display: inline-block;
    	width: 100%;
    	h2 {
	    	font-size: 19px;
		    font-family: helvetica;
		    color: #7b7c7c;
		    font-weight: bold;
		    width: 17%;
		    position: relative;
		    float: left;
		    &:before {
			    content: "";
			    position: absolute;
			    background-color: #aaacaf;
			    height: 16px;
			    width: 82px;
			    top: 42px;
		    }
	    }
	    .content {
	    	width: 82%;
	    	float: left;
	    	display: inline-block;
	    	margin-top: 48px;
	    	position: relative;
	    	left: 83px;
	    	li {
	    		float: left;
	    		background-image: url("../images/programs-1.jpg");
			    background-repeat: no-repeat;
			    background-position: 0% 63%;
			    height: 38px;
			    padding-right: 24px;
			    a {
	    			font-size: 21px;
				    font-family: bebas-neue;
				    text-decoration: none;
				    text-transform: uppercase;
				    color: #43BFEF;
				    margin-left: 35px;
				    padding: 0;
				    line-height: 1em;
				    margin-top: 10px;
				    &:hover, &:focus {
				    	background-color: transparent;
				    }
	    		}
	    		&:nth-child(4) {
	    			width: 18%;
	    			a {
	    				width: 46%;
	    			}
	    		}
	    		&:nth-child(5) {
	    			a {
	    				width: 46%;
	    			}
	    		}
	    	}
	    }
    }
}
/*css ends for program-block*/

/*css for logo-slider-block*/

#block-views-awards-slider-block {
	width: 100%;
	display: inline-block;
	.jcarousel-skin-default {
		.jcarousel-container-horizontal {
		    width: 100% !important;
		    margin: 0;
		    padding: 0;
		    height: auto;
		}	
		.jcarousel-clip-horizontal {
			width: 100% !important;
			border: 2px solid #aaacaf;
	
		}
	 	.jcarousel-item {
		 	width: 205px;
	    	height: 191px;
			margin:0;
			border: none;	
			border-right: 4px solid #22305b;
	 	}
	 	.jcarousel-prev-horizontal {
	 		top: 103%;
	 		position: absolute;
	 		left: 47%;
	 		background-image: url("../images/non-active.jpg");
	 		background-repeat:no-repeat;
	 		z-index: 9;
	 		&:hover {
	 			background-image: url("../images/active.jpg") !important;
	 			background-position: 0 0;
	 		}
	 	} 
	 	.jcarousel-next-horizontal {
		    top: 103%;
		    position: absolute;
		    left: 50%;
		    background-image: url("../images/non-active.jpg");
		    background-repeat: no-repeat;
		    height: 30px;
		    width: 34px;
		    background-position: 2px 0;
		    z-index: 9;
		    &:hover {
		    	background-image: url("../images/active.jpg") !important;
		    }
	 	}
	}
}
/*css ends for logo-slider-block*/

/*css for awards-block*/
.blockqueue-partners {
	.view-homepage-content {
		.homepage-impact-wrapper {
			padding: 32px 0px 0px 40px;
    		display: inline-block;
    		width: 100%;
    		.homepage-block-title {
    			font-size: 36px;
			    font-family: myriad-pro;
			    text-transform: uppercase;
			    font-weight: bold;
			    float: left;
    			width: 24.2%;
    			margin-top: -8px;
    			color: #43BFEF;
			    a {
			    	color: #43BFEF;
			    	text-decoration: none;
			    }
    		}
    		.homepage-body {
			    font-size: 16px;
			    font-family: myriad-pro;
			    color: #6a6a6a;
			    width: 55%;
    			float: left;
    			p {
    				padding: 0 40px 0 9px;
    			}
			    a {
					color: #43BFEF;
			    	text-decoration: none;
			    }
			}
			.awards-video {
				display: inline-block;
				position: relative;
				a {
					
					display: inline-block;
					&:before {
						content: "";
					    position: absolute;
					    background-image: url("../images/youicon.png");
					    height: 100%;
					    width: 100%;
					    background-position: 35px 9px;
					    background-repeat: no-repeat;
					}
				}
			}
		}
	}

	#block-views-awards-slider-block-1 {
		padding: 14px 40px 40px;
    	display: inline-block;
    	width: 100%;
    	h2 {
	    	font-size: 19px;
		    font-family: helvetica;
		    color: #7b7c7c;
		    font-weight: bold;
		    width: 26%;
		    position: relative;
		    float: left;
		    &:before {
			    content: "";
			    position: absolute;
			    background-color: #aaacaf;
			    height: 16px;
			    width: 157px;
			    top: 23px;
		    }
	    }
	    .content {
	    	width: 74%;
	    	float: left;
	    	display: inline-block;
	    	margin-top: 10px;
	    	.view-content {
	    		.views-row {
	    			float: left;
	    			padding-right: 2.2%;
	    			&:nth-child(2) {
	    				margin-top: 9px;
	    			}
	    			&:nth-child(3) {
	    				margin-top: 19px;
	    			}
	    			&:nth-child(4) {
	    				margin-top: -4px;
	    			}
	    			&:nth-child(5) {
	    				margin-top: 11px;
	    			}
	    		}
	    	}
	    }
	    .view-footer {
	    	display: inline-block;
	    	.footer-link {
	    		display: inline-block;
	    		margin-top: 23px;
	    		a {
	    			color: #43bfef;
				    font-family: myriad-pro;
				    font-size: 16px;
				    text-decoration: none;
	    		}
	    	}
	    }
	}
}
/*css ends for awards-block*/