/*---------------------------------css for homepage---------------------------------*/
/*css for homepage-slider*/

.slide-wrapper {
  position: relative;
  	.slide-image {
	  	width: 100%;
	  	img {
	  		width: 100%;
	  	}
  	}
  	.slide-title {
	 	position: absolute;
	  	bottom: 40%;
	  	color: #fff;
	  	font-size: 40px;
	  	font-family: myriad-pro;
	  	left: 5.4%;
	  	font-style: italic;
	  	a {
	  		text-decoration: none;
	  		color: #fff;
	  	}
	}
}
/*css ends for homepage-slider*/

/*css for ticker-section*/
#block-views-ticker-block {
	display: inline-block;
	width: 100%;
	border: 2px solid #22305b;
    height: 28px;
	h2 {
		width: 20.8%;
        word-spacing: 1.2px;
	    font-size: 16px;
	    background-color: #22305b;
	    margin: 0;
	    color: #fff;
	    padding: 4.3px 0px 4.5px 33px;
	    font-family: myriad-pro;
	    float: left;
	}
	.liScroll-container {
		width: 79.2%;
		.mask {
			width: 100%;
			top: 5px;
			position: relative;
			.views-liScroll-item {
				border-left: 1px solid #31343e;
			    padding-left: 8px;
			    padding-right: 8px;
			    a {
			    	color: #31343e;
				    font-family: myraid-pro;
				    font-size: 12px;
				    margin: 0;
				    text-decoration: none;
			    }
			    &:last-of-type {
			    	border-right: 1px solid #31343e;
			    }
			}
			ul.liScroll {
				span {
					margin: 0;
				}
			}
		}
	}
}

/*css for ie*/
.ie {
	#block-views-ticker-block {
		h2 {
			width: 21.8%;
		    word-spacing: 0.2px;
		    padding: 4.3px 0px 3px 40px;
		}
		.liScroll-container {
	    	width: 78.2%;
	    }
	}
}
/*css ends for ticker-section*/

/*css for water-block*/
#block-blockqueue-homepage-its-all-about-water {
	display: inline-block;
    width: 100%;
    padding: 36px 0 41px;
    .view-homepage-content {
    	width: 55%;
    	text-align: center;
    	margin: 0 auto;
    	.views-field-title {
    		font-size: 23px;
		    color: #43BFEF;
		    font-family: helvetica;
		    font-weight: bold;
    	}
    	.views-field-body {
    		font-size: 16px;
		    color: #6a6a6a;
		    font-family: myraid-pro;
		    margin-top: -5px;
		    line-height: 1.2em;
    	}
    }
    #block-views-infographics-block {
    	width: 100%;
    	display: inline-block;
    	padding-top: 21px;
	    .view-infographics {
	    	width: 80%;
	        margin: 0 auto;
	        ul {
	        	list-style: none;
	        	li {
	        		float: left;
	        		width: 22%;
	        		background-image: url("../images/water.jpg");
   					height: 130px;
   					background-repeat: no-repeat;
   					margin-right: 3%;
   					&:last-child {
   						margin-right: 0;
   					}
	        		.content {
	        			text-align: center;
	        			.field-items {
	        				.field-item{
	        					&:nth-child(1) {
	        						p {
		        						font-size: 50px;
									    font-family: bebas-neue;
									    color: #45C0F0;
									    margin-top: 6px;
									}
	        					}
	        					&:nth-child(2) {
	        						p {
		        						font-size: 25px;
									    font-family: bebas-neue;
									    color: #45C0F0;
									    margin-top: -17px;
									}
								}
								&:nth-child(3) {
									p {
		        						font-size: 12px;
									    font-family: myriad-pro-semibold;
									    color: #6a6a6a;
									    width: 75px;
									    margin: -7px auto;
									    line-height: 12px;
									}
								}
	        				}
	        			}
	        		}
	        	}
	        }
	    }
	}
}
/*css ends for water-block*/

/*css for impact-block*/

.blockqueue-homepage-impact {
	display: inline-block;
    width: 100%;
    .homepage-impact-wrapper {
    	.homepage-image {
    		img {
    			width: 100%;
    		}
    	}
    	.impact-content-wrapper {
    		padding: 33px 40px 0px;
    		display: inline-block;
    		width: 100%;
    		.homepage-block-title {
    			font-size: 36px;
			    font-family: myriad-pro;
			    text-transform: uppercase;
			    font-weight: bold;
			    float: left;
    			width: 24.2%;
    			margin-top: -8px;
    			color: #43BFEF;
			    a {
			    	color: #43BFEF;
			    	text-decoration: none;
			    }
    		}
    		.homepage-body {
			    font-size: 16px;
			    font-family: myraid-pro;
			    color: #6a6a6a;
			    width: 60%;
    			float: left;
    			p {
    				padding: 0 15px;
    				line-height: 1.2em;
    				text-align: justify;
    			}
			    a {
					color: #43BFEF;
			    	text-decoration: none;
			    }
			}
			.more-links {
				width: 8%;
    			float: left;
    			margin-left: 4%;
				ul {
					list-style: none;
					padding: 0;
					li {
						border-bottom: 2px solid #43BFEF;
						padding-top: 2px;
						a {
							text-decoration: none;
						    color: #1C1C1B;
						    font-size: 13px;
						    text-transform: uppercase;
						    font-family: helvetica;
						}
						&:last-child {
							border-bottom: none;
						}
					}	
				}
			}
    	}
    }
    #block-views-infographics-block-1 {
    	display: inline-block;
	    width: 100%; 
	    margin-top: -19px;  
	    h2 {
	    	font-size: 19px;
		    font-family: helvetica;
		    color: #7b7c7c;
		    font-weight: bold;
		    margin-top: 0;
		    width: 30%;
		    padding: 0 40px 0;
		    position: relative;
		    &:before {
			    content: "";
			    position: absolute;
			    background-color: #aaacaf;
			    height: 16px;
			    width: 90px;
			    top: 42px;
		    }
	    }
	    .view-infographics {
	    	width: 80%;
    		margin: 0 auto;
    		ul {
    			list-style: none;
			    padding: 0;
			    display: inline-block;
			    width: 100%;
			    margin-left: 49px;
    			margin-top: -9px;
			    li {
			    	float: left;
    				width: 20.4%;
    				margin-right: 4.6%;
    				&:last-child {
    					margin-right: 0;
    				}
    				.bottom-wrap {
					    display: inline-block;
					    width: 100%;
					    background-image: url("../images/water.jpg");
					    height: 129px;
					    background-repeat: no-repeat;
					    .field-item{
							&:nth-child(1) {
								p {
									font-size: 50px;
								    font-family: bebas-neue;
								    color: #45C0F0;
								    text-align: center;
								    margin-top: 5px;
								}
							}
							&:nth-child(2) {
								p {
									font-size: 25px;
								    font-family: bebas-neue;
								    color: #45C0F0;
								    width: 100%;
								    text-align: center;
								    margin: -18px 0;
								}
							}
							&:nth-child(3) {
								p {
									font-size: 12px;
								    font-family: myriad-pro-semibold;
								    color: #6a6a6a;
								    width: 75px;
								    margin: 8px auto;
								    display: inline-block;
								    width: 100%;
								    text-align: center;
								}
							}
						}
					}
			    }
    		}
    		.field-items {
				.field-item{
					&:nth-child(1) {
						p {
							font-size: 14px;
						    font-family: myriad-pro;
						    color: #6a6a6a;
						}
					}
					&:nth-child(2) {
						p {
							font-size: 31px;
						    font-family: bebas-neue;
						    color: #43BFEF;
						    float: left;
						    margin-top: -6px;
	    					margin-right: 7px;
	    				}
					}
					&:nth-child(3) {
						p {
							font-size: 21px;
						    font-family: bebas-neue;
						    color: #43BFEF;
						    float: left;
						    margin-top: 4px;
	    					margin-right: 3px;
	    				}
					}
					&:nth-child(4) {
						p {
							font-size: 10px;
						    font-family: rockwell;
						    color: #43BFEF;
						    float: left;
						    margin-top: 14.5px;
						}
					}
				}
			}
	    }
    }
    #block-views-infographics-block-2 {
    	width: 100%;
    	display: inline-block;
    	margin-top: -25px;
    	padding-bottom: 34px;
	    .view-infographics {
	    	width: 80%;
	        margin: 0 auto;
	        ul {
	        	list-style: none;
	        	li {
	        		float: left;
	        		width: 22%;
	        		background-image: url("../images/water.jpg");
   					height: 130px;
   					background-repeat: no-repeat;
   					margin-right: 3%;
   					&:last-child {
   						margin-right: 0;
   					}
	        		.content {
	        			text-align: center;
	        			.field-items {
	        				.field-item {
	        					p {
		        					&:nth-child(1) {
		        						font-size: 50px;
									    font-family: bebas-neue;
									    color: #45C0F0;
									    margin-top: 6px;
		        					}
		        				}
	        					&:nth-child(2) {
	        						p {
		        						font-size: 25px;
									    font-family: bebas-neue;
									    color: #45C0F0;
									    margin-top: -17px;
									}
								}
								&:nth-child(3) {
									p {
		        						font-size: 12px;
									    font-family: myriad-pro-semibold;
									    color: #6a6a6a;
									    width: 75px;
									    margin: -7px auto;
									    line-height: 12px;
									}
								}
	        				}
	        			}
	        		}
	        	}
	        }
	    }
	}
}
/*css ends for impact-block*/

/*css for approach-block   /*css for water-block*/
.blockqueue-homepage-approach, .blockqueue-homepage-water {
	display: inline-block;
    width: 100%;
    .homepage-impact-wrapper {
    	.homepage-image {
    		img {
    			width: 100%;
    		}
    	}
    	.impact-content-wrapper {
    		padding: 33px 40px 0px;
    		display: inline-block;
    		width: 100%;
    		.homepage-block-title {
    			font-size: 36px;
			    font-family: myriad-pro;
			    text-transform: uppercase;
			    font-weight: bold;
			    float: left;
    			width: 24.2%;
    			margin-top: -8px;
    			color: #43BFEF;
			    a {
			    	color: #43BFEF;
			    	text-decoration: none;
			    }
    		}
    		.homepage-body {
			    font-size: 16px;
			    font-family: myraid-pro;
			    color: #6a6a6a;
			    width: 60%;
    			float: left;
    			p {
    				padding: 0 15px;
    				line-height: 1.2em;
    				text-align: justify;
    			}
			    a {
					color: #43BFEF;
			    	text-decoration: none;
			    }
			}
			.more-links {
			    width: 8%;
			    float: left;
			    margin-left: 4%;
			    ul {
					list-style: none;
					padding: 0;
					li {
						border-bottom: 2px solid #43BFEF;
						padding-top: 2px;
						a {
							text-decoration: none;
						    color: #1C1C1B;
						    font-size: 13px;
						    text-transform: uppercase;
						    font-family: helvetica;
						}
						&:last-child {
							border-bottom: none;
						}
					}	
				}
			}
    	}
    }
    #block-menu-menu-approach, #block-menu-menu-water {
    	padding: 0 40px 48px;
    	display: inline-block;
    	width: 100%;
    	h2 {
	    	font-size: 19px;
		    font-family: helvetica;
		    color: #7b7c7c;
		    font-weight: bold;
		    width: 26%;
		    position: relative;
		    float: left;
		    &:before {
			    content: "";
			    position: absolute;
			    background-color: #aaacaf;
			    height: 16px;
			    width: 205px;
			    top: 23px;
		    }
	    }
	    .content {
	    	width: 74%;
	    	float: left;
	    	display: inline-block;
	    	margin-top: 34px;
	    	li {
	    		float: left;
	    		background-image: url("../images/approach-1.jpg");
			    background-repeat: no-repeat;
			    background-position: 0% 63%;
			    padding-right: 32px;
	    		a {
	    			font-size: 21px;
				    font-family: bebas-neue;
				    text-decoration: none;
				    text-transform: uppercase;
				    color: #43BFEF;
				    margin-left: 60px;
				    padding: 0;
				    &:hover {
				    	background-color: transparent;
				    }
	    		}
	    	}
	    }
    }
    #block-menu-menu-water {
    	h2 {
    		&:before {
    			 width: 226px;
    		}
    	}
    }
}
/*css ends for approach-block*/   /*css ends for water-block*/

/*css for program-block*/
.blockqueue-homepage-programs {
	display: inline-block;
    width: 100%;
    .homepage-impact-wrapper {
    	.homepage-image {
    		img {
    			width: 100%;
    		}
    	}
    	.impact-content-wrapper {
    		padding: 33px 0px 0px 40px;
    		display: inline-block;
    		width: 100%;
    		.homepage-block-title {
    			font-size: 36px;
			    font-family: myriad-pro;
			    text-transform: uppercase;
			    font-weight: bold;
			    float: left;
    			width: 24.2%;
    			margin-top: -8px;
    			color: #43BFEF;
			    a {
			    	color: #43BFEF;
			    	text-decoration: none;
			    }
    		}
    		.homepage-body {
			    font-size: 16px;
			    font-family: myriad-pro;
			    color: #6a6a6a;
			    width: 60%;
    			float: left;
    			p {
    				padding: 0 15px;
    				line-height: 1.2em;
    				text-align: justify;
    			}
			    a {
					color: #43BFEF;
			    	text-decoration: none;
			    }
			}
			.more-links {
				width: 12%;
    			float: left;
				ul {
					list-style: none;
					padding: 0;
					li {
						border-bottom: 2px solid #43BFEF;
						padding-top: 2px;
						a {
							text-decoration: none;
						    color: #1C1C1B;
						    font-size: 13px;
						    text-transform: uppercase;
						    font-family: helvetica;
						}
						&:last-child {
							border-bottom: none;
						}
					}	
				}
			}
    	}
    }
    .main-krishak {
    	display: inline-block;
    	width: 100%;
    	margin-top: -18px;
    	.krishak-logo {
    		width: 28.6%;
    		float: left;
    		img {
    			float: right;
			    margin-right: 66px;
			    margin-top: -34px;
    		}
    	}
    	.krishak-body {
    		width: 50%;
    		float: left;
    		font-size: 16px;
    		font-family: myriad-pro;
    		color: #6a6a6a;
    		line-height: 1.2em;
    		text-align: justify;
    		.krishak-title {
    			float: left;
    			font-size: 21px;
    			font-family: bebas-neue;
    			color: #43BFEF;
    			height: 20px;
    			padding-right: 8px;
    			margin-top: -4px;
    		}
    	}
    }
    #block-menu-menu-programs {
    	padding: 0 0px 46px 40px;
    	display: inline-block;
    	width: 100%;
    	h2 {
	    	font-size: 19px;
		    font-family: helvetica;
		    color: #7b7c7c;
		    font-weight: bold;
		    width: 17%;
		    position: relative;
		    float: left;
		    &:before {
			    content: "";
			    position: absolute;
			    background-color: #aaacaf;
			    height: 16px;
			    width: 82px;
			    top: 42px;
		    }
	    }
	    .content {
	    	width: 82%;
	    	float: left;
	    	display: inline-block;
	    	margin-top: 48px;
	    	position: relative;
	    	left: 83px;
	    	li {
	    		float: left;
	    		background-image: url("../images/programs-1.jpg");
			    background-repeat: no-repeat;
			    background-position: 0% 63%;
			    height: 38px;
			    padding-right: 24px;
			    a {
	    			font-size: 21px;
				    font-family: bebas-neue;
				    text-decoration: none;
				    text-transform: uppercase;
				    color: #43BFEF;
				    margin-left: 35px;
				    padding: 0;
				    line-height: 1em;
				    margin-top: 10px;
				    &:hover, &:focus {
				    	background-color: transparent;
				    }
	    		}
	    		&:nth-child(4) {
	    			width: 18%;
	    			a {
	    				width: 46%;
	    			}
	    		}
	    		&:nth-child(5) {
	    			a {
	    				width: 46%;
	    			}
	    		}
	    	}
	    }
    }
}
/*css ends for program-block*/

/*css for logo-slider-block*/

#block-views-awards-slider-block {
	width: 100%;
	display: inline-block;
	.jcarousel-skin-default {
		.jcarousel-container-horizontal {
		    width: 100% !important;
		    margin: 0;
		    padding: 0;
		    height: auto;
		}	
		.jcarousel-clip-horizontal {
			width: 100% !important;
			border: 2px solid #aaacaf;
	
		}
	 	.jcarousel-item {
		 	width: 205px;
	    	height: 191px;
			margin:0;
			border: none;	
			border-right: 4px solid #22305b;
	 	}
	 	.jcarousel-prev-horizontal {
	 		top: 103%;
	 		position: absolute;
	 		left: 47%;
	 		background-image: url("../images/non-active1.jpg");
	 		background-repeat:no-repeat;
	 		z-index: 9;
	 		&:hover {
	 			background-image: url("../images/active1.jpg") !important;
	 			background-position: 0 0;
	 		}
	 		&:focus {
		    	outline: none;
		    }
	 	} 
	 	.jcarousel-next-horizontal {
		    top: 103%;
		    position: absolute;
		    left: 50%;
		    background-image: url("../images/non-active1.jpg");
		    background-repeat: no-repeat;
		    height: 30px;
		    width: 34px;
		    background-position: 2px 0;
		    z-index: 9;
		    &:hover {
		    	background-image: url("../images/active1.jpg") !important;
		    }
		    &:focus {
		    	outline: none;
		    }
	 	}
	}
}
/*css ends for logo-slider-block*/

/*css for awards-block*/
.blockqueue-partners {
	.view-homepage-content {
		.homepage-impact-wrapper {
			padding: 70px 0px 0px 40px;
    		display: inline-block;
    		width: 100%;
    		.homepage-block-title {
    			font-size: 36px;
			    font-family: myriad-pro;
			    text-transform: uppercase;
			    font-weight: bold;
			    float: left;
    			width: 24.2%;
    			margin-top: -8px;
    			color: #43BFEF;
			    a {
			    	color: #43BFEF;
			    	text-decoration: none;
			    }
    		}
    		.homepage-body {
			    font-size: 16px;
			    font-family: myriad-pro;
			    color: #6a6a6a;
			    width: 55%;
    			float: left;
    			p {
    				padding: 0 40px 0 9px;
    				line-height: 1.2em;
    				text-align: justify;
    			}
			    a {
					color: #43BFEF;
			    	text-decoration: none;
			    }
			}
			.awards-video {
				display: inline-block;
				position: relative;
				a {
					
					display: inline-block;
					&:before {
						content: "";
					    position: absolute;
					    background-image: url("../images/youicon.png");
					    height: 100%;
					    width: 100%;
					    background-position: 35px 9px;
					    background-repeat: no-repeat;
					}
				}
			}
		}
	}

	#block-views-awards-slider-block-1 {
		padding: 14px 40px 40px;
    	display: inline-block;
    	width: 100%;
    	h2 {
	    	font-size: 19px;
		    font-family: helvetica;
		    color: #7b7c7c;
		    font-weight: bold;
		    width: 26%;
		    position: relative;
		    float: left;
		    &:before {
			    content: "";
			    position: absolute;
			    background-color: #aaacaf;
			    height: 16px;
			    width: 157px;
			    top: 23px;
		    }
	    }
	    .content {
	    	width: 74%;
	    	float: left;
	    	display: inline-block;
	    	margin-top: 10px;
	    	.view-content {
	    		.views-row {
	    			float: left;
	    			padding-right: 2.2%;
	    			&:nth-child(2) {
	    				margin-top: 9px;
	    			}
	    			&:nth-child(3) {
	    				margin-top: 19px;
	    			}
	    			&:nth-child(4) {
	    				margin-top: -4px;
	    			}
	    			&:nth-child(5) {
	    				margin-top: 11px;
	    			}
	    		}
	    	}
	    }
	    .view-footer {
	    	display: inline-block;
	    	.footer-link {
	    		display: inline-block;
	    		margin-top: 23px;
	    		a {
	    			color: #43bfef;
				    font-family: myriad-pro;
				    font-size: 16px;
				    text-decoration: none;
	    		}
	    	}
	    }
	}
}
/*css ends for awards-block*/
/*---------------------------------css ends for homepage---------------------------------*/


/*css for impact-overview-page*/
.page-header {
	display: none;
}
.not-front {
	.main-container {
		padding: 98px 0 0
	}
}
.header-wrap {
	position: relative;
	.header-title {
		position: absolute;
	    bottom: 0;
	    color: #fff;
	    font-size: 40px;
	    font-family: myriad-pro;
	    font-style: italic;
	    background: rgba(0, 0 ,0, 0.3);
	    left: 5%;
	    width: 90%;
	    text-align: center;
	}
}
.title-body-wrapper {
	width: 100%;
    display: inline-block;
    padding: 11px 40px 30px;
    .wrap-title {
    	width: 40%;
    	float: left;
    	.title {
    		font-size: 36px;
		    font-family: myriad-pro;
		    font-weight: bold;
		    color: #43bfef;
		    text-transform: uppercase;
		    margin-top: -8px;
    	}
    	.percentage-wrap {
    		position: relative;
    		top: 160px;
    		.progress-image {
    			float: right;
			    width: 100%;
			    padding-right: 34px;
			    img {
			    	float: right;
			    }
    		}
    		.progress-content-wrapper {
    			display: inline-block;
			    width: 32%;
			    float: right;
			    margin-right: 34px;
			    margin-top: 10px;
			    border-top: 1px solid #aaacaf;
			    border-right: 1px solid #aaacaf;
			    height: 106px;
   				overflow: visible;
			    .progress-title {
			    	font-size: 70px;
				    font-family: bebas-neue;
				    color: #aaacaf;
				    float: right;
				    padding-right: 20px;
				    margin-top: -12px;
			    }
			    .progress-description {
			    	clear: both;
				    font-size: 12px;
				    font-family: myriad-pro;
				    color: #aaacaf;
				    padding-right: 6px;
				    line-height: 1.2em;
				    position: relative;
				    top: -21px;
			    }
    		}
    	}
    }
    .wrap-body {
    	width: 60%;
    	float: left;
    	p {
    		font-size: 16px;
		    color: #6a6a6a;
		    width: 100%;
		    line-height: 1.2em;
		    margin-bottom: 20px;
		    a {
		    	color: #43bfef;
		    	text-decoration: none;
		    }
    	}
    	ul {
    		list-style: none;
    		padding: 0;
    		margin-bottom: 20px;
    		li {
    			font-size: 16px;
			    color: #43bfef;
			    font-family: myriad-pro;
			    position: relative;
			    padding-left: 20px;
			    line-height: 1.2em;
			    &:before {
			    	content: "";
				    position: absolute;
				    background-color: #6a6a6a;
				    height: 6px;
				    width: 6px;
				    border-radius: 100%;
				    left: 0;
				    top: 7px;
			    }
			}	
    	}
    	.highlight-body {
    		position: relative;
    		&:before {
    			position: absolute;
			    content: "";
			    background-image: url("../images/highlight.png");
			    height: 70px;
			    width: 57px;
			    left: -70px;
			    top: -2px;
    		}
    		p {
    			font-size: 22px;
			    color: #2a569b;
			    font-family: myriad-pro;
			    font-weight: bold;
			    line-height: 1.2em;
    		}
    	}
    }
}
.also-read-wrap {
	width: 100%;
    display: inline-block;
    background-color: #27579c;
    padding: 20px;
    border-bottom: 6px solid #333232;
    .also-read-title {
		text-align: center;
	    font-size: 16px;
	    color: #fff;
	    font-family: myriad-pro;
	    font-weight: bold;
	    letter-spacing: 1px;
	    margin-bottom: 13px;
    }
    .also-content {
    	display: inline-block;
    	width: 100%;
    	.views-row {
		    width: 33%;
		    float: left;
		    img {
		    	margin-left: auto;
		    	margin-right: auto;
		    	display: block;
		    }
		    .views-field-title {
		    	text-align: center;
			    font-size: 14px;
			    font-family: myriad-pro;
			    margin-top: 10px;
			    a {
			    	color: #43bfef;
			    	text-decoration: none;
			    	&:focus {
			    		outline: none;
			    	}
			    }
		    }
		}
    }
}
/*css ends for impact-overview-page*/

/*css for impact-economic-page*/

.economic-inner-main-wrapper {
	.header-image {
		img {
			width: 100%;
		}
	}
}
.economic-inner-title {
	font-size: 36px;
    font-family: myriad-pro;
    font-weight: bold;
    color: #43bfef;
    text-transform: uppercase;
}
.economic-inner-content {
	ul {
    	padding: 0;
    	list-style: none;
    }
    .field-name-field-graph-image {
    	width: 50%;
	    float: left;
	   	border: 2px solid #27579c;
    	height: 405px;
	    img {
	    	margin-left: auto;
		    margin-right: auto;
		    display: block;
	    }
    }
    .impact-wrap-new {
    	border: 2px solid #27579c;
    	height: 297px;
    }
    .field-name-field-graph-title {
    	float: right;
    	width: 50%;
    	padding: 25px 20px 0;
    	font-size: 36px;
	    color: #43bfef;
	    font-family: myriad-pro;
	    text-transform: uppercase;
	    font-weight: bold;
	    border-top: 2px solid #27579c;
	    border-right: 2px solid #27579c;
	    height: 110px;
	    text-align: center;
	    line-height: 1.2em;
    }
    .field-name-field-graph-body-title {
    	clear: both;
	    font-size: 16px;
	    color: #6a6a6a;
	    font-weight: bold;
	    font-family: myriad-pro;
	    text-transform: uppercase;
	    padding: 28px 0 14px;
    }
    .field-name-field-graph-description {
    	display: inline-block;
	    width: 50%;
	    padding: 55px 20px 18px;
	    border-bottom: 2px solid #27579c;
	    border-right: 2px solid #27579c;
	    height: 295px;
	    p {
	    	font-size: 34px;
	    	color: #6a6a6a;
	    	line-height: 1.2em;
	    	text-align: center;
	    }
    }
    .field-name-field-graph-body {
    	font-size: 16px;
    	font-family: myriad-pro;
    	color: #6a6a6a;
    	line-height: 1.2em;
    	text-align: justify;
    	a {
    		text-decoration: none;
    		font-size: 16px;
    	}
    }
    .field-name-field-graph-full-description {
    	font-size: 16px;
    	font-family: myriad-pro;
    	color: #6a6a6a;
    	padding-top: 28px;
    	line-height: 1.2em;
    	text-align: justify;
    }
}

/*-----------------css for programmes-page----------------*/
.node-type-programms {
	.block-blockqueue {
    	padding-bottom: 60px;
    }
}
.program-wraps {
	position: relative;
	.program-titles {
		position: absolute;
	    bottom: 0;
	    text-align: center;
	    width: 100%;
	    color: #fff;
	    background: rgba(0,0,0,0.4);
	    font-size: 36px;
	    text-transform: uppercase;
	    font-family: myriad-pro;
	}
}
.programs-body {
	width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    p {
    	font-size: 16px;
	    color: #6a6a6a;
	    line-height: 1.2em;
    }
}
.program-text-wrap {
	background-color: #43bfef;
    color: #fff;
    text-align: center;
    padding: 22px 0;
    .program-text-name {
    	width: 80%;
	    margin: 0 auto;
	    font-size: 36px;
	    text-transform: uppercase;
	    font-family: myriad-pro;
	    padding-bottom: 8px;
    }
    .program-text-desc {
    	width: 80%;
	    margin: 0 auto;
	    font-size: 16px;
	    font-family: myriad-pro;
	    line-height: 1.2em;
    }
}
#block-views-programs-list-block-2, #block-views-programs-list-block-4,
#block-views-programs-list-block-6, #block-views-programs-list-block-8,
#block-views-programs-list-block-10, #block-views-programs-list-block-11 {
	.views-row {
		display: inline-block;
		&.views-row-odd {
			.technology-image {
				width: 46%;
    			float: left;
			}
			.technology-main-wrapper {
				width: 54%;
    			float: left;
			}
			.views-field-nothing-1 {
				display: inline-block;
				width: 100%;
				background: #E6E6FA;
			    padding: 40px;
			}
		}
		&.views-row-even {
			.technology-image {
				float: right;
    			width: 46%;
			}
			.technology-main-wrapper {
				width: 53%;
    			float: left;
			}
			.views-field-nothing-1 {
				display: inline-block;
				width: 100%;
				background:#E6E6FA;
			    padding: 40px;
			}
		}
		.technology-title {
		    font-size: 36px;
		    color: #43bfef;
		    font-family: myriad-pro;
		    text-transform: uppercase;
		    margin-top: -11px;
		}
		.technology-body {
			font-size: 16px;
		    color: #6a6a6a;
		    line-height: 1.2em;
		    font-family: myriad-pro;
		    padding-bottom: 30px;
		}
		.more {
		    border: 2px solid #43bfef;
		    max-width:260px;
		    width: 100%;
		    text-align: center;
		    font-size: 16px;
		    text-transform: uppercase;
		    color: #43bfef;
		    padding: 8px 1px 7px;
		    display: inline-block;
		    vertical-align: middle;
		    cursor: pointer;
		    box-shadow: 0px 4px 11px #6a6a6a;
		    -moz-box-shadow: 0px 4px 7px #6a6a6a;
		    -webkit-box-shadow: 0px 4px 11px #6a6a6a;
		    font-family: myriad-pro;
		    &:hover {
		    	background-color: #43bfef;
		    	color: #fff;
		    	border: 2px solid #fff;
		    }
		}
		.views-field-nothing {
			 padding: 40px 40px 0;
		}
		.views-field-nothing-2 {
			display: inline-block;
			width: 100%;
			position: relative;
    		top: 16px;
		}
		.products-wrapper {
		    float: left;
		    width: 19%;
		    background: #fff;
		    margin-right: 1%;
		    border-radius: 7px;
		    margin-bottom: 1%;
		    height: 245px;
		    img {
		    	border-top-left-radius: 7px;
		    	border-top-right-radius: 7px;
		    }
		    .p-title {
			    padding: 10px 10px 5px;
			    border-bottom: 1px solid #27579c;
			    font-size: 16px;
			    margin-bottom: 5px;
			    line-height: 1.2em;
			    &:empty {
			    	display: none;
			    }
			    a {
			    	color: #27579c;
			    }
			}
			.p-desc {
    			padding: 0 10px;
    			color: #43bfef;
    			font-family: myriad-pro;
    			line-height: 1.2em;
    			&:empty {
    				display: none;
    			}
			}
			.read-more-complex {
    			padding: 10px;
    			font-size: 14px;
    			text-transform: uppercase;
    			a {
    				color: #27579c;
    			}
    			&:empty {
    				display: none;
    			}
    		}
    	}
    	.product-empty {
		    font-size: 36px;
		    display: inline-block;
		    width: 100%;
		    text-align: center;
		    vertical-align: middle;
		    color: #43bfef;
		    font-family: myriad-pro;
		    text-transform: capitalize;
		}
	}
}
/*-----------------css ends for programmes-page----------------*/

/*-----------------css for product-page----------------*/

.node-type-products {
	.main-container {
		padding: 97px 0 0;
	}
}
.detail-header-image {
	position: relative;
	img {
		width: 100%;
	}
	.haeder-caption {
		position: absolute;
	    bottom: 0;
	    text-align: center;
	    width: 100%;
	    color: #fff;
	    background: rgba(0, 0, 0, 0.4);
	    font-size: 36px;
	    text-transform: uppercase;
	    font-family: myriad-pro;
	}
}
.detail-product-tabs {
    padding-top: 30px;
}
.detail-product-title {
    font-size: 36px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0 5px;
    line-height: 1.2em;
    color: #43bfef;
    font-family: myriad-pro;
    text-transform: uppercase;
}
.detail-product-desc {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-family: myriad-pro;
    color: #6a6a6a;
    line-height: 1.2em;
    padding-bottom: 40px;
}
.detail-product-applications-wrap {
    display: inline-block;
    width: 100%;
    padding: 50px 40px 40px;
    .product-applications {
    	width: 60%;
    	float: left;
    	.application-label {
		    font-size: 30px;
		    font-family: myriad-pro;
		    color: #43bfef;
		    line-height: 1.2em;
    		margin-top: -13px;
    		padding-bottom: 5px;
		}
		.application-detail {
		    font-size: 16px;
		    color: #6a6a6a;
		    font-family: myriad-pro;
		    line-height: 1.2em;
		}
	}
}
.product-images {
    float: right;
    width: 25%;
}
.detail-sp-label {
	padding: 0 0 20px 40px;
    font-size: 30px;
    color: #43bfef;
    font-family: myriad-pro;
    line-height: 1.2em;
}
.detail-product-specification {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    table {
	    background-color: transparent;
	    width: 100%;
	    margin-bottom: 40px;
	    border: 1px solid #43bfef;
	    tbody {
		    // padding: 10px 0;
		    display: inline-block;
		    width: 100%;
		    tr {
			    display: inline-block;
			    width: 100%;
			    border: 1px solid #43bfef;
			    td {
			        width: 50%;
			        float: left;
				    padding: 10px;
				    font-size: 16px;
				    font-family: myriad-pro;
				    color: #6a6a6a;
				    &:last-child {
				    	border-left: 2px solid #43bfef;
				    }
			    }
			}
		}
	}
}

#block-idei-custom-products-gallery-tab-block {
	.resp-tabs-list {
	    display: table;
	    margin: auto;
	    width: auto;
	    position: relative;
	    li {
		    align-items: center;
		     border-right: 1px solid #dedede !important;
		    border-top: medium none !important;
		    color: #00355f;
		    cursor: pointer;
		    display: flex;
		    float: left;
		    font-family: arbah;
		    font-size: 19px;
		    font-weight: normal;
		    height: 50px;
		    line-height: 20px;
		    list-style: outside none none;
		    margin: 0;
		    padding: 13px 18px !important;
		    width: 150px;
		    font-size: 20px;
		    font-family: myriad-pro;
		    color: #43bfef !important;
		    &.resp-tab-active {
		    	color: #fff !important;
		    	background-color: #43bfef !important;
		    	font-size: 22px;
		    	height: 60px;
		    	width: 140px;
		    	z-index: 1;
		    	position: relative;
		    	&:before {
		    	  width: 0; 
				  height: 0; 
				  border-left: 12px solid transparent;
				  border-right: 12px solid transparent;
				  content: "";
				  position: absolute;
				  bottom: 0;
				  bottom: -12px;
			      border-top: 12px solid #43bfef;
			      left: 36%;
		    	}
		    }
		}
	}
	.resp-tabs-container {
		display: inline-block;
		width: 100%;
		.jcarousel-skin-tango {
			.jcarousel-container-horizontal {
				width: 100%;
				height: auto;
				padding: 0;
				border: none;
				background-color: transparent;
			}
			.jcarousel-clip-horizontal {
    			width: 100%;
    			background: #E6E6FA;
    			padding-top: 35px;
    			.full-width {
    				width: 1024px !important;
    			}
    		}
    		.jcarousel-item {
    			width: 450px !important;
    			margin: 0;
    			height: 336px;
    			border: none;
    			margin-left: 42px;
    			background: #E6E6FA;
    			&.height {
    				height: 91px;
    				width: 1024px !important;
    				margin-left: 0; 
    			}

    		}
    		.product-no-result {
			    font-size: 36px;
			    font-family: myriad-pro;
			    color: #43bfef;
			}
			.jcarousel-prev {
				background-image: url("../images/left.png");
				height: 40px;
				width: 40px;
				top: 45%;
				&:hover {
					background-position: 0;
				}
			}
			.jcarousel-next {
				background-image: url("../images/right.png");
				height: 40px;
				width: 40px;
				top: 45%;
				background-position: 0;
				&:hover {
					background-position: 0;
				}
			}
		}
		.views-field-field-product-video {
			display: inline-block;
			position: relative;
			a {
				display: inline-block;
				&:before {
					content: "";
				    position: absolute;
				    background-image: url("../images/youicon.png");
				    height: 100%;
				    width: 100%;
				    background-position: -7px 50%;
				    background-repeat: no-repeat;
				    z-index: 1;
				    left: 44%;
				}
				&:after {
				    content: " ";
				    background-color: #000;
				    height: 100%;
				    width: 100%;
				    top: -6px;
				    position: absolute;
				    left: 0;
				    z-index: 0;
				    opacity: .7;                    
				}
			}
		}
	}
}
.case-study {
	display: inline-block;
	width: 100%;
}
.view-case-study-for-products {
    padding: 0 40px 40px;
    display: inline-block;
    width: 100%;
    .views-field-field-case-study-title {
        font-size: 30px;
        color: #43bfef;
        font-family: myriad-pro;
        text-transform: capitalize;
        line-height:1.2em;
        padding-bottom: 5px;
    }
    .views-field-field-case-study-description {
	    font-size: 16px;
	    font-family: myriad-pro;
	    color: #6a6a6a;
	    padding-bottom: 15px;
	}
	.views-field-field-case-study-upload-pdf {
		border: 2px solid #43bfef;
	    max-width: 180px;
	    width: 100%;
	    text-align: center;
	    font-size: 16px;
	    text-transform: uppercase;
	    color: #43bfef;
	    padding: 8px 1px 7px;
	    display: inline-block;
	    vertical-align: middle;
	    cursor: pointer;
	    box-shadow: 0px 4px 11px #6a6a6a;
	    -moz-box-shadow: 0px 4px 7px #6a6a6a;
	    -webkit-box-shadow: 0px 4px 11px #6a6a6a;
	    font-family: myriad-pro;
	    &:hover {
    	    background-color: #43bfef;
			border: 2px solid #fff;
			a {
				color: #fff;
			}
	    }
	    a {
	    	color: #43bfef;
	    }
	}
}
/*-----------------css ends for product-page----------------*/
