@media all and (max-width: 767px) {
	#backtotop {
		display: none;
	}
	.main-container {
		.row {
			margin: 0;
			.col-sm-12 {
				padding: 0;
			}
		}
	}
	.navbar {
		.container {
			.navbar-header {
				margin: 0;
				.logo {
					padding: 0 0 0 5px;
					width: 25%;
					img {
						height: 60px;
    				width: 71px;
					}
				}
				.social-links {
					width: 75%;
					padding-right: 0;
					text-align: right;
					.region-social-links {
						display: inline-block;
					}
					.input-group {
						.form-control {
							width: 75px;
						}
					}
					#block-search-form  {
						margin-bottom: 0px;
						height: 10px;
					}
				}
				.navbar-toggle {
					border: none;
					padding: 5px;
					background-color: #45C0F0;
					margin-top: 0;
					margin-right: 8px;
					span {
						background-color: $white;
					}
				}
			}
			.navbar-collapse.collapsing {
				display: none;
			}
			.navbar-collapse.collapse {
		    position: absolute;
		    right: auto;
		    background: $dark-blue url('../images/logo.png') no-repeat scroll center right 15px;
		    box-shadow: 0 4px 11px $grey;
		    width: 100%;
		    // display: inline-block;
		    top: auto;
		    margin: -3px 0 0;
		    z-index: 1;
		    // .custom-navigation, #block-system-main-menu {
		    .new-main-menu {
		    	list-style: none;
  				padding: 10px 119px 0 10px;
  				li {
  					display: block;
  					border-right: none;
  					float: none;
  					padding: 7px 0 2px 5px;
  					background: #45C0F0;
  					margin: 10px 0;
  					width: 150px;
  					a {
  					  	color: $white;
  					  	&.active {
  					  		border-bottom: none;
  					  	}
  					}
  				}
		    }
		    .region-navigation {
		    	padding-right: 0;
		    }	   
			}
		}
		// #block-menu-menu-impact, #block-idei-custom-programs-custom-menu {
		.secondary-sub-menu {
			ul {
				li {
					padding: 0 4px;
					font-size: 10px;
					&:first-child {
						font-size: 12px;
					}
				}
			}
		}
		#block-views-product-menu-block {
			.view-product-menu {
				.view-content {
					.views-row {
						font-size: 10px;
						padding: 0 4px;
					}
				}
			}
		}
		.second-views-menu {
			.view {
				.view-content {
					.block-title {
						font-size: 12px;
						padding: 0 4px;
					}
					.views-row {
						font-size: 10px;
						padding: 0 4px;
					}
				}
			}
		}
	}

	/*css for submenu of about section*/
	.node-type-about-idei, .page-about-us, .page-board-members, 
	.node-type-about-us, .node-type-board-members {
		.navbar {
			.secondary-sub-menu {
				ul {
					li {
		  			padding: 0 3px;
		  		}
		  	}
		  }
		}
	}

	/*----------------------------css for homepage*--------------------------/
	/*css for slider*/
	.slide-wrapper {
		.slide-title {
			font-size: 20px;
			left: 4.4%;
		}
	}
	/*css for ticker*/
	/*css for iphone-mobile*/
	.iphone {
		#block-views-ticker-block {
			h2 {
			    padding: 6.3px 4px 4.5px 5px;
			}
		}
	}
	/*-----------------------*/
	#block-views-ticker-block {
		h2 {
			width: 172px;
			font-size: 13px;
			padding: 7.3px 0px 3.5px 5px;
		}
		.liScroll-container {
			width: 45%;
			height: 19px;
			overflow: hidden;
		}
	}
	/*css for its-all-about-water-section*/
	// #block-blockqueue-homepage-its-all-about-water {
	.its-all-about-water {
		padding-bottom: 0;
		.view-homepage-content {
			width: 100%;
	    text-align: center;
	    margin: 0;
	    padding: 0 10px;
	    .views-field-title {
	    	font-size: 20px;
	    }
	    .views-field-body {
	    	font-size: 14px;
	    }
		}
		#block-views-infographics-block {
			padding-top: 45px;
			.view-infographics {
				width: 100%;
		    margin: 0;
		    padding: 0 10px;
		    max-width: 320px;
				width: 100%;
				margin: 0 auto;
		    ul {
		    	display: inline-block;
			    width: 100%;
			    padding: 0;
			    li {
				    width: 47%;
				    height: 135px;
				    background-size: 100%;
				    line-height: 41px;
				    .content {
				    	.field-items {
				    		.field-item {
				    			&:nth-child(1) {
				    				p {
											font-size: 35px;
											margin-top: 20px;
										}
									}
									&:nth-child(2) {
										p {
											font-size: 22px;
										}
									}
									&:nth-child(3) {
										p {
											font-size: 10px;
										}
									}
								}
							}
						}
			    }
		    }
			}
		}
	}
	/*css for impact-section, approach, programs, water*/
	.blockqueue-homepage-impact, .blockqueue-homepage-approach, 
	.blockqueue-homepage-programs, .blockqueue-homepage-water {
		.homepage-impact-wrapper {
			.impact-content-wrapper {
				padding: 11px 10px 0px;
				.homepage-block-title {
					font-size: 25px;
					width: 100%;
					text-align: center;
				}
				.homepage-body {
					font-size: 14px;
					width: 100%;
					p {
						padding: 0;
					}
				}
				.more-links {
					width: 100%;
			    margin-left: 0;
			    padding-top: 10px;
			    display: table;
			    margin: 0 auto;
			    ul {
				    width: 100%;
				    text-align: center;
			    	li {
			    		display: inline-block;
  						margin-right: 3%;
  						&:last-child {
  							border-bottom: 2px solid $light-blue;
  							margin-right: 0;
  						}
  						a {
  							font-size: 12px;
  						}
			    	}
			    }
				}
			}
		}
		#block-views-infographics-block-1 {
	    display: inline-block;
	    width: 100%;
	    margin-top: 0px;
	    padding: 20px 10px;
	    h2 {
	    	font-size: 17px;
	    	width: 100%;
	    	text-align: center;
	    	padding: 0 10px;
	    	&:before {
	    		content: "";
			    position: absolute;
			    background-color: transparent;
			    height: 0;
			    width: 0;
			    top: 0;
	    	}
	    }
	    .view-infographics {
				width: 100%;
		    margin: 0 auto;
		    max-width: 320px;
		    padding-left: 18px;
		    padding-top: 10px;
		    ul {
		    	width: 100%;
		    	display: inline-block;
		    	margin: 0;
		    	li {
		    		width: 47%;
		    		margin-right: 3%;
		    		.bottom-wrap {
		    			background-size: 103% auto;
		    			.field-item {
		    				&:nth-child(1) {
		    					p {
		    						font-size: 35px;
		    						margin-top: 20px;
		    					}
		    				}
		    				&:nth-child(2) {
		    					p {
		    						font-size: 22px;
		    					}
		    				}
		    				&:nth-child(3) {
		    					p {
		    						font-size: 10px;
		    					}
		    				}
		    			}
		    		}
		    	}
		    }
		    .field-items {
		    	.field-item {
		    		&:nth-child(1) {
		    			p {
  							font-size: 10px;
  						}
  					}
  					&:nth-child(2) {
  						p {
  							font-size: 25px;
  						}
  					}
  					&:nth-child(3) {
  						p {
  							font-size: 18px;
  							margin-top: 0;
  						}
  					}
  					&:nth-child(4) {
  						p {
  							font-size: 9px;
  							margin-top: 8.5px;
  						}
  					}
  				}
  			}
			}
		}
	}

	/*css for programme block*/
	.blockqueue-homepage-programs {
		#block-menu-menu-programs {
			margin-top: 0px;
    	padding: 15px 0px 40px;
    	display: inline-block;
  		h2 {
	    	font-size: 17px;
	    	width: 100%;
	    	text-align: center;
	    	padding: 0 10px 10px;
	    	margin: 0;
	    	&:before {
	    		content: "";
			    position: absolute;
			    background-color: transparent;
			    height: 0;
			    width: 0;
			    top: 0;
	    	}
	    }
  		.content {
  			width: 100%;
		    max-width: 320px;
		    margin: 0 auto;
		    display: block;
		    float: none;
		    left: auto;
		    padding: 0 0 0 46px;
		    li {
		    	background-position: 1% center;
			    padding-right: 4px;
			    background-size: 18px;
			    height: 29px;
			    max-width: 120px;
			    width: 100%;
			    display: inline-block;
			    vertical-align: top;
			    margin-bottom: 12px;
			    a {
			    	margin-left: 21px;
  					font-size: 16px;
			    }
		    }
  		}
		}
		.main-krishak {
			margin-top: 0;
  		padding: 20px 10px;
  		.krishak-logo  {
  			width: 22%;
  			img {
  				float: right;
			    margin-right: 2px;
			    margin-top: -8px;
  			}
  		}
  		.krishak-body {
  			width: 78%;
  			font-size: 14px;
  			.krishak-title {
  				font-size: 18px;
  				margin-top: 0;
  				height: 16px;
  			}
  		}
		}
	}

	/*css for approach-block, water-block*/
	.blockqueue-homepage-approach, .blockqueue-homepage-water {
		#block-menu-menu-approach, #block-menu-menu-water {
			display: inline-block;
		  width: 100%;
		  margin-top: 0px;
		  padding: 20px 0px 25px;
	    h2 {
	    	font-size: 17px;
	    	width: 100%;
	    	text-align: center;
	    	padding: 0 10px 10px;
	    	&:before {
	    		content: "";
			    position: absolute;
			    background-color: transparent;
			    height: 0;
			    width: 0;
			    top: 0;
	    	}
	    }
	    .content {
	    	width: 100%;
	    	display: table;
	    	margin: 0 auto;
	    	float: none;
	    	ul {
	    		width: 100%;
	    		text-align: center;
	    	}
	    	li {
			    background-position: 0 18%;
			    padding-right: 0;
			    background-size: 45px;
			    height: 29px;
			    display: inline-block;
			    float: none;
			    width: 135px;
			    text-align: left;
			    a {
			    	margin-left: 52px;
			    	font-size: 16px;
			    }
	    	}
	    }
		}
	}

	/*css for awards-slider*/
	#block-views-awards-slider-block {
		.jcarousel-skin-default {
			.jcarousel-item {
				height: 160px;
				width: 160px;
			}
		}
	}

	.blockqueue-partners {
		.view-homepage-content {
			.homepage-impact-wrapper {
				padding: 55px 10px 0px;
				.homepage-block-title {
					font-size: 25px;
					width: 100%;
					text-align: center;
				}
				.homepage-body {
					font-size: 14px;
					width: 100%;
					p {
						padding: 0;
					}
				}
				.awards-video {
					width: 100%;
					text-align: center;
					margin-top: 30px;
					a {
						&:before {
						    height: 93%;
						    width: 50%;
						    background-position: center;
						    background-size: 60px;
						    left: 25%
						}
					}
				}
			}
		}
		#block-views-awards-slider-block-1 {
			display: inline-block;
	    width: 100%;
	    margin-top: 0px;
	    padding: 20px 0px 25px;
	    h2 {
	    	font-size: 17px;
	    	width: 100%;
	    	text-align: center;
	    	padding: 0 10px 10px;
	    	&:before {
	    		content: "";
			    position: absolute;
			    background-color: transparent;
			    height: 0;
			    width: 0;
			    top: 0;
	    	}
	    }
	    .content {
	    	width: 100%;
	    	max-width: 320px;
	    	margin: 0 auto;
	    	display: block;
	    	float: none;
	    	.view-content {
	    		.views-row {
	    			padding: 0;
	    			width: 50%;
	    			img {
	    				margin: auto;
	    			}
	    		}
	    	}
	    }
		}
	}
	/*-------css for footer-----*/
	.footer {
		.region-footer {
			padding: 0;
		}
		.facebook-block {
			width: 100%;
			margin-bottom: 0;
			padding: 0 0 0 58px;
			.facebook-wrapper {
				width: 100%;
				ul {
					margin-top: 20px;
				}
			}
		}
		.connect-wrapper {
			width: 100%;
			margin-top: 20px;
			h2 {
				padding-top: 0;
				margin: 0;
			}
		}
		#block-menu-menu-footer-about-us, #block-menu-menu-footer-resources, 
		#block-menu-menu-footer-get-involved {
			width: 100%;
			padding: 20px 0 0 58px;
		}
		.block-title {
			margin: 0;
		}
		.copyright {
			width: 100%;
			padding: 10px;
			p {
				&:nth-of-type(1), &:nth-of-type(2) {
					width: 100%;
				}	
			}			
		}
	}

	/*---------css for inner pages---------*/
	.title-body-wrapper {
		padding: 11px 10px 10px;
	}
	.economic-inner-title {
		text-align: center;
		font-size: 25px;
	}
	.economic-inner-content {
		.field-name-field-graph-image {
			width: 100%;
			height: auto;
			border: none;
			img {
				padding: 0;
			}
		}
		.field-name-field-graph-title{
			border: none;
			height: auto;
			width: 100%;
			padding: 25px 0 0;
			font-size: 25px;		
		}
			
		.field-name-field-graph-description {
			padding: 10px 0 0;
			border: none;
			height: 70px;;
			width: 100%;
			background-size: 50px;
			p {
				font-size: 16px;
			}
		}
		.field-name-field-graph-body-title {
			padding-bottom: 10px;
			font-size: 16px;
		}
		.field-name-field-graph-body, .field-name-field-graph-full-description {
			p {
				font-size: 14px;
			}
			li {
				word-break: break-all;
				font-size: 14px;
			}
		}
	}
	.also-read-wrap {
		padding: 20px 10px 20px 15px;
		.also-content {
			.views-row {
				width: 32%;
				margin-right: 1%;
				&:last-child {
					margin-right: 0;
				}
				.views-field-title {
					font-size: 12px;
				}
			}
		}
	}

	/*----------css for programme page--------------*/
	.node-type-programms {
		.block-blockqueue {
			padding-bottom: 35px;
		}
	}
	.programs-body {
		width: 90%;
		p {
			font-size: 14px;
		}
	}
	.program-wraps {
		.program-titles {
			font-size: 18px;
		}
	}
	.program-text-wrap {
		.program-text-name {
			font-size: 25px;
			width: 90%;
		}
		.program-text-desc {
			font-size: 14px;
			width: 90%;
		}
	}
	#block-views-programs-list-block-2, #block-views-programs-list-block-4,
	#block-views-programs-list-block-6, #block-views-programs-list-block-8,
	#block-views-programs-list-block-10, #block-views-programs-list-block-11 {
		.views-row {
			.views-field-nothing {
				padding: 40px 10px 0;
			}
			&.views-row-odd, &.views-row-even {
				.technology-image {
					width: 100%;
					img {
						margin: auto;
						display: block;
					}
				}
				.technology-main-wrapper {
					width: 100%;
				}
				.views-field-nothing-1 {
					padding: 40px 10px 40px 11px;
				}
			}
			.technology-wrapper {
			  padding-top: 30px;
			}
			.technology-title, .product-empty  {
				font-size: 25px;
			}
			.technology-body, .more {
				font-size: 14px;
			}
			.products-wrapper {
				height: 240px;
				width: 146px;
				.p-title, .read-more-complex {
					font-size: 12px;
				}
				.p-desc {
					font-size: 11px;
				}
			}
		}
	}
	/*----------css ends for programme page--------------*/

	/*----------css for product page--------------*/
	#block-idei-custom-products-gallery-tab-block {
		.resp-tabs-list {
			display: none;
		}
		.resp-tabs-container {
			.jcarousel-skin-tango {
				.jcarousel-container-horizontal {
					max-width: 320px;
				}
				.jcarousel-clip-horizontal {
					.full-width {
						width: 320px !important;
    				margin: auto !important;
					} 
				}
				.jcarousel-item {
					&.height {
						width: 100% !important;
					}
					width: 300px !important;
					margin-left: 8px;
					height: 224px;
					.field-name-field-title {
						bottom: 22.7%;
						font-size: 22px;
					}
					.field-name-field-description {
						font-size: 20px;
					}
					.field-name-field-video-title {
						font-size: 22px;
						bottom: 18%;
					}
					.field-name-field-video-description {
						font-size: 20px;
						bottom: 4%;
					}
				}
				.jcarousel-prev, .jcarousel-next {
					background-size: 36px;
				}
				.jcarousel-next {
					right: -8px;
				}
				.product-no-result {
					font-size: 20px;
				}
			}
		}
	}
	.detail-header-image {
		.haeder-caption {
			font-size: 18px;
		}
	}
	.detail-product-title {
		font-size: 25px;
		line-height: 1.2em;
		width: 90%;
	}
	.detail-product-desc {
		font-size: 14px;
		width: 90%;
	}
	.detail-product-applications-wrap {
	  padding: 30px 10px 40px;
    .product-applications, .product-images {
    	width: 100%;
    	img {
    		margin: auto;
    		display: block;
    	}
    	.application-label {
    		font-size: 22px;
    	}
    	.application-detail {
    		font-size: 14px;
    		padding-bottom: 30px;
    	}
    }
	}
	.detail-sp-label {
		font-size: 22px;
		padding-left: 10px;
	}
	.detail-product-specification {
		padding-bottom: 20px;
		width: 90%;
		table {
			margin-bottom: 10px;
			tbody {
				tr {
					td {
						&:last-child {
							min-height: 100px;
						}
						font-size: 14px;
					}
				}
			}
		}
	}
	.view-case-study-for-products {
		padding-left: 10px;
		padding-right: 10px;
		.views-field-field-case-study-title {
			font-size: 22px;
		}
		.views-field-field-case-study-description, .views-field-field-case-study-upload-pdf {
			font-size: 14px;
		}
	}
	h2.resp-accordion {
		border: none;
		padding: 15px;
		font-size: 16px;
		font-family: OpenSans;
		&:first-child {
			border-top: none;
		}
	}
	.resp-arrow {
		border-top: 12px solid $light-blue;
	}
	h2.resp-tab-active {
		background-color: $light-blue !important;
		color: $white;
		span.resp-arrow {
			border-bottom: 12px solid $white;
		}
	}

	/*----------------css for promotional-pages-----------*/
	.promotional-wrapper {
		padding: 40px 10px 0;
		.promotional-block {
	    width: 90%;
	    // .activity-img {
	    // 	width: 100%;
	    // 	float: none;
	    // 	img {
	    // 		margin: auto;
	    // 	}
	    // }
	    // .activity-title-wrap {
	    // 	width: 100%;
	    // 	float: none;
	    // 	margin-top: 0;
	    // 	display: inline-block;
	    // 	padding-top: 20px;
	    // 	text-align: center;
	    // }
	    .activity-title {
        font-size: 22px;
        line-height: 1.2em;
        padding-bottom: 5px;
	    }
	    .activity-description {
	      font-size: 14px;
	    }
		}
	}
	/*----------css ends for product page--------------*/

	/*----------css for approach page--------------*/
	.approach-content-wrapper {
		.shift-image {
			padding: 20px 0;
			width: 100%;
		}
		.approach-content {
			font-size: 14px;
			padding-bottom: 20px;
			width: 100%;
			p {
				strong {
					font-size: 15px;
					word-break: break-all;
				}
			}
		}
	}
	/*----------css ends for approach page--------------*/

	/*----------css for annual-report & publications page--------------*/
	.pub-main-wrap {
		padding: 0 10px 40px;
	}
	.pub-wrap {
		width: 80%;
		margin-left: 5%;
		.pub-title {
			font-size: 20px;
			line-height: 1.2em;
		}
		.pub-desc, .pub-download {
			font-size: 14px;
		}
	}
	/*----------css ends for annual-report & publications page--------------*/

	/*----------css for programms block navigation on click of menu's--------------*/
	#program-1:before, #program-2:before, 
	#program-3:before, #program-4:before, 
	#program-5:before, #program-6:before, 
	#program-7:before {
		display: block; 
		content: " "; 
		margin-top: -99px; 
		height: 111px; 
		visibility: hidden;
	}
	/*----------css ends for programms block navigation on click of menu's--------------*/

	/*--------------------------------css for about-page--------------------------------*/
	.node-type-about-idei  {
		table {
			margin: 0;
		}
	}

	/*---------------------css for about-board-member-listing-page-----------------------*/
	.view-about-us {
		.view-content {
			padding-left: 10px;
			padding-right: 10px;
			.views-row {
				width: 100%;
				padding-left: 0;
			}
			.profile-wrapper {
		    display: inline-block;
		    width: 100%;
		    .profile-pic {
	        width: 100%;
	        display: inline-block;
	      }
	      .profile-title-wrap {
          width: 100%;
          display: inline-block;
          padding-top: 10px;
        }
		  }
		}
		.profile-title {
			font-size: 18px;
		}
		.profile-designation {
			font-size: 14px;
		}
		.profile-path {
			font-size: 13px;
		}
	}
	/*-----------------css ends for about-board-member-listing-page-------------------*/

	/*--------------css for about-board-member-node-page-----------------------------*/
	.about-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
	.about-pic-wrapper {
		width: 100%;
		img {
			margin: auto;
			display: block;
		}
	}
	.about-text-wrapper {
		width: 100%;
		padding-top: 20px;
	}
	.about-title {
		text-align: center;
		font-size: 25px;
		padding-bottom: 10px;
	}
	.about-designation {
		font-size: 20px;
		text-align: center;
	}
	.about-description {
		font-size: 14px;
	}
	/*--------------css ends for about-board-member-node-page--------------------------*/

	/*-----------------------css ends for about-page------------------------------------*/

	/*---------------------------css for engage section-----------------------------*/

		/*-------------------------css for contact-us-page-----------------------------*/

			.view-contact-us-page {
				.view-footer {
					padding-left: 10px;
					padding-right: 10px;
				}
				.address-wrap {
					text-align: center;
					border-bottom: 3px solid $dark-blue;
		    	&:first-of-type {
		    		padding-bottom: 40px;
		    	}
		    	&:last-of-type {
		    		border-bottom: none;
		    	}
				}
				.address-block, .map-block {
					width: 100%;
				}
				.delhi-address {
					padding-bottom: 30px;
					p {
						font-size: 14px;
						&:first-of-type {
							font-size: 25px;
						}
					}
					&.odisha-address {
						padding-left: 0;
						padding-top: 30px;
					}
				}
			}
		/*-----------------------css ends for contact-us-page-----------------------------*/
		/*---------------------------css for volunteers-page-----------------------------*/
			.page-volunteers {
				.view-volunteers-page {
					.view-header {
						p {
							font-size: 14px;
							width: 90%;
						}
					}
				}
			}
			.view-volunteers-page {
				.view-content {
					padding: 0;
				}
			}
		/*--------------------------css ends for volunteers-page--------------------------*/

	/*---------------------------css ends for engage section-----------------------------*/

	/*----------------------css for awards-timeline-page----------------------------*/
	.timeline-date {
		font-size: 14px;
	}
	.timeline-text {
		margin-top: 10px;
		font-size: 15px !important;
		p, a {
			font-size: 13px;
		}
		a.visit-story {
			font-size: 14px;
		}
	}
	/*----------------------css ends for awards-timeline-page------------------------*/

	/*-----------------------css for awards-timeline-node-page--------------------*/
		.node-type-awards-list {
			.economic-inner-title, .economic-inner-content {
				padding: 0 10px;
			}
			.jcarousel-skin-tango {
				.jcarousel-item {
					width: 300px !important;
					height: 224px;
					margin-left: 10px;
				}
				.jcarousel-container-horizontal {
					max-width: 320px;
				}
				.jcarousel-next-horizontal {
					right: 4px;
				}
				.jcarousel-clip-horizontal {
					padding-top: 25px;
				}
			}
			.external-link {
				font-size: 14px;
			}
		}
	/*-----------------------css ends for awards-timeline-node-page-------------------*/

	/*---------------------------css for partners-section-------------------------*/

		/*------------------------------css for donors-page----------------------*/
			.page-donors, .page-knowledge-partners, .page-global-networking-platforms {
				.economic-inner-title.team {
			    background-position: 50% 100%;
			    background-size: 35px;
			    padding-bottom: 50px;
			  }
			}
			.view-donors {
				.view-header {
					p {
						font-size: 14px;
						width: 90%;
					}
				}
				.view-content {
					padding-left: 10px;
					padding-right: 10px;
					.views-field-title {
						font-size: 14px;
					}
				}
			}
		/*------------------------------css ends for donors-page----------------------*/
		/*---------------------------css for knowledge-partners-page-------------------*/
			.view-knowledge-partners, .view-global-networking-platforms  {
				.view-content {
					padding: 0 10px 23px;
					.views-field-title {
						font-size: 14px;
						word-break: break-all;
					}
				}
			}
		/*-----------------------css ends for knowledge-partners-page----------------*/

	/*---------------------------css ends for partners-section-------------------------*/

	/*-----------------------------css for pagination-------------------------*/
		.pagination {
			li {
				a {
					font-size: 14px;
				}
				&.active {
					span {
						font-size: 16px;
						padding: 5.2px 12px;
					}
				}
			}
		}
	/*---------------------------css ends for pagination-------------------------*/
	
	/*---------------------------css for search-page-------------------------*/
		.page-search {
			.region-content {
				h2 {
					font-size: 25px;
					padding-top: 15px;
				}
			}
			.form-group {
				.form-control {
					font-size: 14px;
				}
			}
			.search-results {
				font-size: 20px;
				padding: 15px 40px;
				.title {
					font-size: 20px;
				}
			}
			.search-snippet-info {
				font-size: 14px;
			}
		}	
	/*---------------------------css ends for search-page-------------------------*/	

	/*-------------------------css for archive listing page---------------------*/
		.main-container {
			.view-archive- {
				.view-header {
					.archive-title {
						font-size: 25px;
						padding-top: 20px;
					}
				}
				.view-content {
					padding-left: 10px;
					padding-right: 10px;
					.views-field-name {
						font-size: 13px;
					}
				}
				&.view-display-id-block_2, &.view-display-id-block_4, &.view-display-id-block_6 {
					.view-header {
						font-size: 25px;
					}
				}
				&.view-display-id-block_2, &.view-display-id-block_6 {
					padding-top: 30px;
				}
				&.view-display-id-block_4 {
					.view-content {
						.views-field-field-promotional-feature-video {
							a {
								&:before {
									background-size: 40px;
									background-position: 50% 37%;
								}
							}
						}
						.views-field-name {
							font-size: 12px;
							font-weight: bold;
						}
					}
				}
				&.view-display-id-block_6 {
					.view-content {
						.views-field-name {
							font-size: 12px;
						}
					}
				}
			}
		}
	/*-------------------------css ends for archive listing page---------------------*/

	/*-------------------------css for archive node page---------------------*/
		.view-photo-gallery-archive- {
			.node-title {
				font-size: 25px;
			}
		}
		.page-documents {
			.view-photo-gallery-archive- {
				.view-content {
					padding-left: 10px;
					padding-right: 10px;
				}
				.view-header {
					.view-content {
						padding: 0;
					}
				}	
			}
		}
	/*-------------------------css ends for archive node page---------------------*/

	/*-------------------------css for idei-capabilty-page-----------------------*/
		#block-views-idei-capability-statement-block {
			padding-bottom: 15px;
			h2 {
				font-size: 25px;
				padding: 0 10px 30px;
			}
			.capability-icons-test {
				max-width: 320px;
				.views-row {
					margin-left: 0;
					margin-bottom: 40px;
					width: 50%;
					img {
						margin: auto;
					}
				}
			}
		}
		#block-blockqueue-idei-capability-statement {
			h2 {
				font-size: 22px;
				padding: 0 10px 20px;
				text-align: center;
			}
			.view-awards {
				padding: 0 10px 40px;
				.field-name-field-description {
					font-size: 14px;
				}
			}
		}
		.capability-text, .table-block {
			padding-left: 10px;
			padding-right: 10px;
			.field-name-field-body {
				font-size: 14px;
			}
			table {
				.table-head {
					td {
						line-height: 1.2em;
					} 
				}
			}
		}
		.accordion-block {
			padding: 0 10px 40px;
			.ui-state-default {
				font-size: 14px;
			}
			.ui-widget-content {
				font-size: 14px;
				padding: 10px;
			}
		}
		.capability-first-title {
			font-size: 10px;
		}
		.capability-description {
			font-size: 1vw;
		}
	/*-------------------------css ends for idei-capabilty-page---------------------*/
}



/*responsive css for tab*/
@media all and (min-width:768px) and (max-width: 1024px) {

	.main-container {
		.row {
			margin: 0;
			.col-sm-12 {
				padding: 0;
			}
		}
	}
	.navbar {
		.container {
			.navbar-header {
				.logo {
					padding: 0 0 0 0px;
					img {
						width: 70px;
    					height: 70px;
					}
				}
				.social-links {
					padding: 0;
				} 
			}
			.navbar-collapse {
				.region-navigation {
					padding: 0;
				}
			}
			// .custom-navigation, #block-system-main-menu {
			.new-main-menu {
				li {
					padding-left: 4px;
			    padding-right: 4px;
			    font-size: 11px;
				}
			}
		}
		// #block-menu-menu-impact, #block-idei-custom-programs-custom-menu {
		.secondary-sub-menu {
			ul {
				li {
					padding-left: 4px;
			    padding-right: 4px;
			    font-size: 10px;
			    &:first-child {
			    	font-size: 13px;
			    }
				}
			}
		}
		#block-views-product-menu-block {
			.view-product-menu {
				.view-content {
					.views-row {
						font-size: 10px;
						padding: 0 4px;
					}
				}
			}
		}
		.second-views-menu {
			.view {
				.view-content {
					.views-row {
						font-size: 10px;
						padding: 0 4px;
					}
					.block-title {
						font-size: 13px;
					}
				}
			}
		}
	}

	/*----------------------------css for homepage*--------------------------/
	/*css for slider*/
	#block-views-homepage-slideshow-block {
		.views-slideshow-cycle-main-frame {
			width: 100% !important;
			.views-slideshow-cycle-main-frame-row {
				width: 100% !important;
			}
		}
	}
	/*css ends for slider*/

	/*css for ticker*/
	#block-views-ticker-block {
		h2 {
			width: 197px;
			padding: 3px 0px 4.5px 5px;
			font-size: 15px;
		}
		.liScroll-container {
			width: 74%;
		}
	}
	/*css ends for ticker*/

	/*css for water-section*/
	// #block-blockqueue-homepage-its-all-about-water {
	.its-all-about-water {
		#block-views-infographics-block {
			.view-infographics {
				ul {
					li {
						height: 154px;
						width: 24%;
						margin-right: 1%;
						background-size: 85%;
						.content  {
							.field-items {
								.field-item{
									&:nth-child(1) {
										p {
											font-size: 40px;
											margin-top: 20px;
										}
									}
									&:nth-child(2) {
										p {
											font-size: 22px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/*css ends for water-section*/

	/*css for impact-section*/
	.blockqueue-homepage-impact {
		.homepage-impact-wrapper {
			.impact-content-wrapper {
				.homepage-block-title {
					font-size: 30px;
				}
			}
		}
		#block-views-infographics-block-1 {
			h2 {
				font-size: 18px;
				width: 273px;
				margin-top: 25px;
			}
			.view-infographics {
				ul {
					margin-left: 0;
  				margin-top: 30px;
  				padding-left: 38px;
  				li {
  					width: 24%;
  					margin-right: 1%;
  					.bottom-wrap {
  						height: 154px;
  						background-size: 85%;
  						.field-item {
  							&:nth-child(1) {
  								p {
  									font-size: 40px;
  									margin-top: 20px;
  								}
  							}
  							&:nth-child(2) {
  								p {
  									font-size: 22px;
  								}
  							}
  							&:nth-child(3) {
  								p {
  									margin: 4px 0 0;
  								}
  							}
  						}
  					}
  				}
				}
				.field-items {
					.field-item {
						&:nth-child(2) {
							p {
								font-size: 28px;
							}
						}
						&:nth-child(3) {
							p {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
		#block-views-infographics-block-2 {
			.view-infographics {
				width: 83%;
				ul {
					li {
						background-size: 103%;
						height: 138px;
						.content {
							.field-items {
								.field-item {
									p {
										&:nth-child(1) {
											font-size: 40px;
										}
									}
									&:nth-child(2) {
										p {
											font-size: 20px;
										}
									}
									&:nth-child(3) {
										p {
											font-size: 10px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/*css ends for impact-section*/

	/*css for approach-section*/
	.blockqueue-homepage-approach, .blockqueue-homepage-programs {
		.homepage-impact-wrapper {
			.impact-content-wrapper {
				.homepage-block-title {
					font-size: 30px;
				}
			}
		}
		#block-menu-menu-approach {
			h2 {
				font-size: 18px;
				width: 30%;
				&:before {
					width: 190px;
				}
			}
			.content {
				width: 70%;
			}
		}
	}
	/*css ends for approach-section*/

	/*css for program-section*/
	.blockqueue-homepage-programs {
		#block-menu-menu-programs {
			h2 {
				width: 23%;
			}
			.content {
				width: 71%;
				left: 21px;
				li {
					max-width: 246px;
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}
	/*css ends for program-section*/

	/*css for water-section*/
	.blockqueue-homepage-water {
		#block-menu-menu-water {
			h2 {
				font-size: 18px;
				width: 30%;
				&:before {
					width: 212px;
				}
			}
			.content {
				width: 70%;
				padding-left: 20px;
				li {
					width: 40%;
				}
			}
		}
	}
	/*css ends for water-section*/

	/*css for-logo-slider-section*/
	#block-views-awards-slider-block {
		.jcarousel-skin-default {
			.jcarousel-item {
				width: 192px;
			}
		}
	}
	/*css ends for logo-slider-section*/

	/*css for partner-section*/
	.blockqueue-partners {
		.view-homepage-content {
			.homepage-impact-wrapper {
				.homepage-block-title {
					font-size: 30px;
				}
				.homepage-body {
					width: 54%;
				}
			}
		}
		#block-views-awards-slider-block-1 {
			h2 {
				font-size: 18px;
				width: 25%;
				&:before {
					width: 150px;
				}
			}
			.content {
				width: 75%;
				.view-content {
					.views-row {
						width: 16%;
						padding-right: 1%;
					}
				}
			}
			.view-footer {
				.footer-link {
					margin-top: 12px;
				}
			}
		}
	}
	/*css ends for partner-section*/

	/*css for footer*/	
	.footer {
		.region-footer {
			padding: 0 0 0 40px;
		} 
	}
	/*----------------------------css ends for homepage*--------------------------*/

	/*------------css for impact pages------------------*/
	.economic-inner-content {
		.field-name-field-graph-title {
			font-size: 30px;
		}
		.field-name-field-graph-description {
			p {
				font-size: 22px;
			}
		}
	}	
	/*-------------css ends for impact pages=--------------*/
	
	/*------------css for programme page--------------- */
	#block-views-programs-list-block-2, #block-views-programs-list-block-4,
	#block-views-programs-list-block-6, #block-views-programs-list-block-8,
	#block-views-programs-list-block-10, #block-views-programs-list-block-11 {
		.views-row {
			&.views-row-odd {
				.technology-image {
					width: 42%;
					margin-right: 4%;
				}
			}
			.products-wrapper {
				height: 250px;
				.p-title {
					font-size: 14px;
				}
				.p-desc {
					font-size: 12px;
				}
			}
		}
	}
	/*----------css ends for programme page----------- */

	/*----------css for product page----------- */
	#block-idei-custom-products-gallery-tab-block {
		.resp-tabs-container {
			.jcarousel-skin-tango {
				.product-no-result {
					font-size: 30px;
				}
				.jcarousel-clip-horizontal {
					.full-width {
				    width: 768px !important;
				    margin: auto !important;
					}
				}
				.jcarousel-item {
					&.height {
						width: 100% !important;
					}
					width: 340px !important;
					height: 253px;
					margin-left: 16px;
					.field-name-field-title {
						bottom: 24%;
					}
				}
				.jcarousel-container-horizontal  {
					max-width: 768px;
				}
				.jcarousel-next {
					right: -13px;
				}
			}
		}
	}
	/*----------css ends for product page----------- */

	/*----------css for annual-report page----------- */
	.page-annual-report-page {
		.view-annual-report-page {
			.view-content {
				padding: 0 20px;
			}
			.view-header {
				.view-content {
					padding: 0;
				}
			}
		}
	}
	/*----------css ends for annual-report page----------- */

	/*----------css for publication page----------- */
	.publication-listing {
		padding: 40px 20px;
	}
	/*----------css ends for publication page----------- */

	/*----------css for about-us-board-members listing-page----------- */
	.view-about-us {
		.profile-title {
			font-size: 20px;
		}
		.profile-designation {
			font-size: 15px;
		}
	}
	/*----------css ends for about-us-board-members listing-page----------- */

	/*----------css for about-us-board-members node-page--------------- */
	.about-text-wrapper {
		width: 60%;
	}
	/*----------css ends for about-us-board-members node-page------------- */

	/*---------------------css for timline node page---------------------*/
	.node-type-awards-list {
		.jcarousel-skin-tango {
			.jcarousel-item {
				width: 330px !important;
				height: 254px;
			}
			.jcarousel-next {
				right: 7px;
			}
			.jcarousel-container-horizontal {
				max-width: 768px;
			}
		}
	}
	/*---------------------css ends for timline node page---------------------*/

	/*-------------------------css for partners section---------------------*/

		/*-----------------------css for donors-page-----------------------*/
			.page-donors {
				.economic-inner-title{
					&.team {
						background-position: 78% 100%;
				    max-width: 768px;
				    margin: auto;
					}
				}
			}
		/*-----------------------css ends for donors-page-----------------------*/
		/*-----------------------css for knowledge-partners-page------------------*/
			.page-knowledge-partners {
				.economic-inner-title {
					&.team {
						background-position: 84% 100%;
				    max-width: 768px;
				    margin: auto;
					}
				}
			}
		/*-----------------------css ends for knowledge-partners-page------------------*/
		/*-----------------------css for global-networking-page------------------*/
		.page-global-networking-platforms {
			.economic-inner-title {
				&.team {
					background-position: 98% 100%;
					max-width: 768px;
				  margin: auto;
				}
			}
		}
		/*-----------------------css ends for global-networking-page------------------*/

	/*-------------------------css ends for partners section---------------------*/

	/*-------------------------css for archive listing page---------------------*/
		.main-container {
			.view-archive- {
				.view-content {
					.views-field-name {
						font-size: 22px;
					}
				}
				&.view-display-id-block_4 {
					.view-content {
						.views-field-name {
							font-size: 30px;
						}
					}
				}
			}
		}
	/*-------------------------css ends for archive listing page---------------------*/
	/*------------------------css for about-idei-capability-page---------------------*/
		.capability-first-title {
			font-size: 25px;
		}
		.capability-description {
			font-size: 1.4vw;
			p {
				top: 1%;
			}
		}
	/*---------------------css ends for about-idei-capability-page---------------------*/
}
@media all and (min-width:1025px) and (max-width: 1199px) {
	/*------------------------css for header---------------------*/
		.navbar {
			.container {
				.navbar-header {
					.logo {
						padding: 0 0 0 6px;
					}
				}
			}
		}
	/*------------------------css ends for header---------------------*/

	/*------------------------css for about-idei-capability-page---------------------*/
		.capability-first-title {
			font-size: 32px;
		}
		.capability-description {
			width: 35%;
			font-size: 13px;
		}
	/*---------------------css ends for about-idei-capability-page---------------------*/
}


/*-------media query for homepage awards slider--------*/
@media  (max-width: 520px) {
	#block-views-awards-slider-block {
		.jcarousel-skin-default {
			.jcarousel-prev-horizontal {
				left: 42%;
			}
		}
	}
	
}
@media all and (min-width:521px) and (max-width: 767px) {
	#block-views-awards-slider-block {
		.jcarousel-skin-default {
			.jcarousel-next-horizontal {
				left: 52%;
			}
		}
	}
}
/*-------------------------------------------------------*/


/*-----media query for submenu's of programme page-------*/
@media all and (min-width:320px) and (max-width: 392px) {
	.node-type-programms {
		.main-container {
			padding: 139px 0 0;
		}
	}
}
@media all and (min-width:393px) and (max-width: 739px) {
	.node-type-programms {
		.main-container {
			padding: 119px 0 0;
		}
	}
}
/*-------------------------------------------------------*/

/*-----media query for submenu's of product page-------*/
@media all and (min-width:320px) and (max-width: 439px) {
	.page-node-49 {
		.main-container {
			padding: 119px 0 0;
		}
	}
}
@media all and (min-width:320px) and (max-width: 341px) {
	.page-node-59 {
		.main-container {
			padding: 119px 0 0;
		}
	}
}
/*-------------------------------------------------------*/

/*-----media query for submenu's of about pages-------*/
@media all and (min-width:320px) and (max-width: 337px) {
	.node-type-about-idei, .page-about-us, .page-board-members, 
	.node-type-about-us, .node-type-board-members  {
		.main-container {
			padding: 159px 0 0;
		}
	}
}
@media all and (min-width:338px) and (max-width: 474px) {
	.node-type-about-idei, .page-about-us, .page-board-members, 
	.node-type-about-us, .node-type-board-members  {
		.main-container {
			padding: 139px 0 0;
		}
	}
}
@media all and (min-width:475px) and (max-width: 767px) {
	.node-type-about-idei, .page-about-us, .page-board-members, 
	.node-type-about-us,.node-type-board-members  {
		.main-container {
			padding: 119px 0 0;
		}
	}
}
/*--------------------------------------------------------------*/

/*-----media query for submenu's of partners pages------------*/
	@media all and (min-width:320px) and (max-width: 430px) {
		.page-donors, .page-knowledge-partners, .page-global-networking-platforms {
			.main-container {
				padding: 119px 0 0;
			}
		}
	}
/*--------------------------------------------------------------*/

/*-----media query for submenu's of archive node pages------------*/
@media all and (min-width:320px) and (max-width: 334px) {
	.page-gallery {
		.main-container {
			padding: 139px 0 0;
		}
	}
}
@media all and (min-width:320px) and (max-width: 378px) {
	.page-success-stories {
		.main-container {
			padding: 119px 0 0;
		}
	}
}
@media all and (min-width:320px) and (max-width: 514px) {
	.page-documents {
		.main-container {
			padding: 119px 0 0;
		}
	}
}
/*--------------------------------------------------------------*/

/*-----media query for submenu's of idei-capabilty-page------------*/
@media all and (min-width:320px) and (max-width: 440px) {
	.page-node-259 {
		.navbar {
			.secondary-sub-menu {
				ul {
					li {
						font-size: 9px;
					}
				}
			}
		}
		.main-container {
			padding: 137px 0 0;
		}
	}
}
@media all and (min-width:441px) and (max-width: 478px) {
	.page-node-259 {
		.main-container {
			padding: 137px 0 0;
		}
	}
}
@media all and (min-width:479px) and (max-width: 767px) {
	.page-node-259 {
		.main-container {
			padding: 117px 0 0;
		}
	}
}
/*----------------------------------------------------------------*/
/*--------------------media query for timline awards page---------------*/
@media all and (min-width:320px) and (max-width: 349px) {
	.timeline-date {
	  font-weight: normal;
	}
}
