@media all and (max-width: 767px) {
	.main-container {
		.row {
			margin: 0;
			.col-sm-12 {
				padding: 0;
			}
		}
	}
	.navbar {
		.container {
			.navbar-header {
				.logo {
					padding: 0 0 0 20px;
					img {
						height: 60px;
    					width: 71px;
					}
				}
			}
			.navbar-collapse.collapsing {
				display: none;
			}
			.navbar-collapse.collapse {
			    position: absolute;
			    right: auto;
			    background: #fff;
			    box-shadow: 0 4px 11px #ccc;
			    width: 100%;
			    top: auto;
			    .custom-navigation {
			    	list-style: none;
    				padding-top: 10px;
    				li {
    					display: block;
    					border-right: none;
    					float: none;
    					padding: 0;
    				}
			    }	   
			}
		}
	}

	/*----------------------------css for homepage*--------------------------/
	/*css for slider*/
	.slide-wrapper {
		.slide-title {
			font-size: 20px;
			left: 4.4%;
		}
	}
	/*css for ticker*/
	#block-views-ticker-block {
		h2 {
			width: 49.8%;
		   	font-size: 13px;
		    padding: 5.3px 0px 5.5px 12px;
		}
		.liScroll-container {
			width: 50.2%;
		}
	}
	/*css for water-section*/
	#block-blockqueue-homepage-its-all-about-water {
		padding-bottom: 0;
		.view-homepage-content {
			width: 100%;
		    text-align: center;
		    margin: 0;
		    padding: 0 10px;
		    .views-field-title {
		    	font-size: 20px;
		    }
		    .views-field-body {
		    	font-size: 14px;
		    }
		}
		#block-views-infographics-block {
			padding-top: 45px;
			.view-infographics {
				width: 100%;
			    margin: 0;
			    padding: 0 10px;
			    max-width: 320px;
				width: 100%;
				margin: 0 auto;
			    ul {
			    	display: inline-block;
				    width: 100%;
				    padding: 0;
				    li {
					    width: 47%;
					    height: 135px;
					    background-size: 103%;
					    line-height: 41px;
					    .content {
					    	.field-items {
					    		.field-item {
					    			&:nth-child(1) {
					    				p {
											font-size: 35px;
										}
									}
									&:nth-child(2) {
										p {
											font-size: 22px;
										}
									}
									&:nth-child(3) {
										p {
											font-size: 10px;
										}
									}
								}
							}
						}
				    }
			    }
			}
		}
	}
	/*css for impact-section*/
	.blockqueue-homepage-impact, .blockqueue-homepage-approach {
		.homepage-impact-wrapper {
			.impact-content-wrapper {
				padding: 11px 10px 0px;
				.homepage-block-title {
					font-size: 25px;
					width: 100%;
					text-align: center;
				}
				.homepage-body {
					font-size: 14px;
					width: 100%;
					p {
						padding: 0;
					}
				}
				.more-links {
					width: 100%;
				    float: left;
				    margin-left: 0;
				    padding-top: 10px;
				    ul {
				    	max-width: 320px;
					    width: 100%;
					    margin: 0 auto;
				    	li {
				    		float: left;
    						margin-right: 3%;
    						&:last-child {
    							border-bottom: 2px solid #43BFEF;
    							margin-right: 0;
    						}
    						a {
    							font-size: 12px;
    						}
				    	}
				    }
				}
			}
		}
		#block-views-infographics-block-1 {
		    display: inline-block;
		    width: 100%;
		    margin-top: 0px;
		    padding: 20px 10px;
		    h2 {
		    	font-size: 17px;
		    	width: 100%;
		    	text-align: center;
		    	padding: 0 10px;
		    	&:before {
		    		content: "";
				    position: absolute;
				    background-color: transparent;
				    height: 0;
				    width: 0;
				    top: 0;
		    	}
		    }
		    .view-infographics {
				width: 100%;
			    margin: 0 auto;
			    max-width: 320px;
			    padding-left: 18px;
			    padding-top: 10px;
			    ul {
			    	width: 100%;
			    	display: inline-block;
			    	margin: 0;
			    	li {
			    		width: 47%;
			    		margin-right: 3%;
			    		.bottom-wrap {
			    			background-size: 103% auto;
			    			.field-item {
			    				&:nth-child(1) {
			    					p {
			    						font-size: 35px;
			    					}
			    				}
			    				&:nth-child(2) {
			    					p {
			    						font-size: 22px;
			    					}
			    				}
			    				&:nth-child(3) {
			    					p {
			    						font-size: 10px;
			    					}
			    				}
			    			}
			    		}
			    	}
			    }
			    .field-items {
			    	.field-item {
			    		&:nth-child(1) {
			    			p {
    							font-size: 12px;
    						}
    					}
    					&:nth-child(2) {
    						p {
    							font-size: 25px;
    						}
    					}
    					&:nth-child(3) {
    						p {
    							font-size: 18px;
    							margin-top: 0;
    						}
    					}
    					&:nth-child(4) {
    						p {
    							font-size: 9px;
    							margin-top: 8.5px;
    						}
    					}
    				}
    			}
			}
		}
	}

	/*css for approach-block*/
	.blockqueue-homepage-approach {
		#block-menu-menu-approach {
			display: inline-block;
		    width: 100%;
		    margin-top: 0px;
		    padding: 20px 0px 25px;
		    h2 {
		    	font-size: 17px;
		    	width: 100%;
		    	text-align: center;
		    	padding: 0 10px 10px;
		    	&:before {
		    		content: "";
				    position: absolute;
				    background-color: transparent;
				    height: 0;
				    width: 0;
				    top: 0;
		    	}
		    }
		    .content {
		    	width: 100%;
		    	max-width: 320px;
		    	margin: 0 auto;
		    	display: block;
		    	float: none;
		    	li {
				    background-position: 4% 18%;
				    padding-right: 4px;
				    background-size: 45px;
				    height: 29px;
				    a {
				    	margin-left: 52px;
				    	font-size: 16px;
				    }
		    	}
		    }
		}
	}
}

/*responsive css for tab*/
@media all and (min-width:768px) and (max-width: 1024px) {

	.main-container {
		.row {
			margin: 0;
			.col-sm-12 {
				padding: 0;
			}
		}
	}
	.navbar {
		.container {
			.navbar-header {
				.logo {
					padding: 0 0 0 5px;
				}
				.social-links {
					padding: 0;
				} 
			}
			.navbar-collapse {
				.region-navigation {
					padding: 0;
				}
			}
			.custom-navigation {
				li {
					padding-left: 6px;
				    padding-right: 6px;
				    font-size: 11px;
				    letter-spacing: 0.8px;
				}
			}
		}
	}

	/*----------------------------css for homepage*--------------------------/
	/*css for slider*/
	#block-views-homepage-slideshow-block {
		.views-slideshow-cycle-main-frame {
			width: 100% !important;
			.views-slideshow-cycle-main-frame-row {
				width: 100% !important;
			}
		}
	}
	/*css ends for slider*/

	/*css for ticker*/
	#block-views-ticker-block {
		h2 {
			width: 23.8%;
		    word-spacing: 0.2px;
		    padding: 4.3px 0px 2.5px 8px;
		}
		.liScroll-container {
			width: 76.2%;
		}
	}
	/*css ends for ticker*/

	/*css for water-section*/
	#block-blockqueue-homepage-its-all-about-water {
		#block-views-infographics-block {
			.view-infographics {
				width: 84%;
				ul {
					li {
						background-size: 103% auto;
						height: 154px;
						width: 24%;
						margin-right: 1%;
						.content  {
							.field-items {
								.field-item{
									&:nth-child(1) {
										p {
											font-size: 40px;
										}
									}
									&:nth-child(2) {
										p {
											font-size: 22px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/*css ends for water-section*/

	/*css for impact-section*/
	.blockqueue-homepage-impact {
		.homepage-impact-wrapper {
			.impact-content-wrapper {
				.homepage-block-title {
					font-size: 30px;
				}
			}
		}
		#block-views-infographics-block-1 {
			h2 {
				font-size: 18px;
				width: 273px;
				margin-top: 25px;
			}
			.view-infographics {
				width: 84%;
				padding-bottom: 22px;
				ul {
					margin-left: 40px;
    				margin-top: 30px;
    				li {
    					width: 24%;
    					margin-right: 1%;
    					.bottom-wrap {
    						background-size: 100% auto;
    						height: 154px;
    						.field-item {
    							&:nth-child(1) {
    								p {
    									font-size: 40px;
    								}
    							}
    							&:nth-child(2) {
    								p {
    									font-size: 22px;
    								}
    							}
    							&:nth-child(3) {
    								p {
    									margin: 4px 0 0;
    								}
    							}
    						}
    					}
    				}
				}
				.field-items {
					.field-item {
						&:nth-child(2) {
							p {
								font-size: 28px;
							}
						}
						&:nth-child(3) {
							p {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
		#block-views-infographics-block-2 {
			.view-infographics {
				width: 83%;
				ul {
					li {
						background-size: 103%;
						height: 138px;
						.content {
							.field-items {
								.field-item {
									p {
										&:nth-child(1) {
											font-size: 40px;
										}
									}
									&:nth-child(2) {
										p {
											font-size: 20px;
										}
									}
									&:nth-child(3) {
										p {
											font-size: 10px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	/*css ends for impact-section*/

	/*css for approach-section*/
	.blockqueue-homepage-approach, .blockqueue-homepage-programs {
		.homepage-impact-wrapper {
			.impact-content-wrapper {
				.homepage-block-title {
					font-size: 30px;
				}
			}
		}
		#block-menu-menu-approach {
			h2 {
				font-size: 18px;
				width: 30%;
				&:before {
					width: 190px;
				}
			}
			.content {
				width: 70%;
			}
		}
	}
	/*css ends for approach-section*/

	/*css for program-section*/
	.blockqueue-homepage-programs {
		#block-menu-menu-programs {
			h2 {
				width: 23%;
			}
			.content {
				width: 71%;
				left: 21px;
			}
		}
	}
	/*css ends for program-section*/

	/*css for water-section*/
	.blockqueue-homepage-water {
		#block-menu-menu-water {
			h2 {
				font-size: 18px;
				width: 30%;
				&:before {
					width: 212px;
				}
			}
			.content {
				width: 70%;
				padding-left: 20px;
				li {
					width: 40%;
				}
			}
		}
	}
	/*css ends for water-section*/

	/*css for-logo-slider-section*/
	#block-views-awards-slider-block {
		.jcarousel-skin-default {
			.jcarousel-item {
				width: 192px;
			}
		}
	}
	/*css ends for logo-slider-section*/

	/*css for partner-section*/
	.blockqueue-partners {
		.view-homepage-content {
			.homepage-impact-wrapper {
				.homepage-block-title {
					font-size: 30px;
				}
				.homepage-body {
					width: 54%;
				}
			}
		}
		#block-views-awards-slider-block-1 {
			h2 {
				font-size: 18px;
				width: 25%;
				&:before {
					width: 150px;
				}
			}
			.content {
				width: 75%;
				.view-content {
					.views-row {
						width: 16%;
						padding-right: 1%;
					}
				}
			}
			.view-footer {
				.footer-link {
					margin-top: 12px;
				}
			}
		}
	}
	/*css ends for partner-section*/	
	/*----------------------------css ends for homepage*--------------------------*/	
}


@media  (max-width: 480px) {
	
}